<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
   
   <!-- 六个节点 -->
   <bean id="node1" class="redis.clients.jedis.HostAndPort">
   	<constructor-arg name="host" value="${redis.host1}" />
   	<constructor-arg name="port" value="${redis.port1}" />
   </bean>
   <bean id="node2" class="redis.clients.jedis.HostAndPort">
   	<constructor-arg name="host" value="${redis.host2}" />
   	<constructor-arg name="port" value="${redis.port2}" />
   </bean>
   <bean id="node3" class="redis.clients.jedis.HostAndPort">
   	<constructor-arg name="host" value="${redis.host3}" />
   	<constructor-arg name="port" value="${redis.port3}" />
   </bean>
   <bean id="node4" class="redis.clients.jedis.HostAndPort">
   	<constructor-arg name="host" value="${redis.host4}" />
   	<constructor-arg name="port" value="${redis.port4}" />
   </bean>
   <bean id="node5" class="redis.clients.jedis.HostAndPort">
   	<constructor-arg name="host" value="${redis.host5}" />
   	<constructor-arg name="port" value="${redis.port5}" />
   </bean>
   <bean id="node6" class="redis.clients.jedis.HostAndPort">
   	<constructor-arg name="host" value="${redis.host6}" />
   	<constructor-arg name="port" value="${redis.port6}" />
   </bean>
   <!-- 装配jedisCluster对象 -->
   <bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
   	<constructor-arg>
   		<set>
   			<ref bean="node1"/>
   			<ref bean="node2"/>
   			<ref bean="node3"/>
   			<ref bean="node4"/>
   			<ref bean="node5"/>
   			<ref bean="node6"/>
   		</set>
   	</constructor-arg>
   </bean>
</beans>