.content_click{
	float: none;
	width: 320px;
	background-color:white;
	margin-left: 580px;
	margin-top: 200px;
}
.module_click{
	width: 287px;
	margin-left: 20px;
	height: 157px;
}

.tc_bg {
	width:100%;
	height:100%;
	position:fixed;
	z-index:999;
	background-color:rgba(0,0,0,0.5);
	top:0px;
}
.tc_clo { width:100%; text-align:right;}
.tc_clo img{ margin:80px 280px 0 0; cursor: pointer;}
.tc_idx {
	width:800px;
	height:600px;
	padding:10px;
	background:#FFF;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

.text-box{
    width:68px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    margin-left:16px;
    float:left
}