.content_m_info {
    float: left;
    width: 540px;
}

.content_m_info .module {
    width: 100%;
    margin-top: 30px;
    line-height: 30px;
}

.content_m_info .module .module_l {
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.content_m_info .module .module_c {
    float: left;
}

.content_m_info .module .module_c .input_1 {
    width: 350px;
    height: 26px;
    border: 1px solid #e6e6e6;
}

.content_m_info .module .module_c .input_2 {
    width: 235px;
    height: 26px;
    border: 1px solid #e6e6e6;
    margin-right: 20px;
}

.content_m_info .module .module_c .input_3 {
    width: 120px;
    height: 26px;
    border: 1px solid #e6e6e6;
    margin-right: 20px;
}

.content_m_info .module .module_c .input_4 {
    width: 350px;
    height: 26px;
    border: 1px solid #ff0000;
}

.content_m_info .module .module_c .input_5 {
    width: 70px;
    height: 26px;
    border: 1px solid #e6e6e6;
    margin-right: 20px;
}

.content_m_info .module .module_c .input_2_up {
    width: 235px;
    height: 26px;
    border: 1px solid #e6e6e6;
    margin-right: 20px;
    background-color: #00b9ff;
    text-align: center;
}

.content_m_info .module .module_c .select_l {
    width: 352px;
    height: 30px;
    border: 1px solid #e6e6e6;
}

.content_m_info .module .module_c .select_s {
    width: 110px;
    height: 30px;
    border: 1px solid #e6e6e6;
}

.content_m_info .module .module_c .module_c_info {
    width: 340px;
    height: 60px;
    margin-top: 5px;
    font-size: 12px;
    color: #999999;
    border: 1px solid #dfdfdf;
    background: #f7f7f7;
    line-height: 30px;
    padding: 5px;
    overflow: hidden;
}

.content_m_info .module .module_c .module_c_info_long {
    width: 340px;
    height: 60px;
    margin-top: 5px;
    font-size: 12px;
    color: #999999;
    border: 1px solid #dfdfdf;
    background: #f7f7f7;
    line-height: 30px;
    padding: 5px;
    overflow: hidden;
}

.content_m_info .module .module_c .module_c_txt {
    font-size: 12px;
    color: #959595;
    margin-bottom: 10px;
}

.content_m_info .module .module_c .module_c_input {
    margin-bottom: 10px;
}

.content_m_info .module .module_c .module_c_pic {
}

.content_m_info .module .module_c .module_c_pic .module_c_pic_l {
    float: left;
}

.content_m_info .module .module_c .module_c_pic .module_c_pic_l .img_tb {
    width: 300px;
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.content_m_info .module .module_c .module_c_pic .module_c_pic_t .img_lr {
    width: 400px;
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.content_m_info .module .module_c .module_c_pic .module_c_pic_r {
    float: left;
    margin-left: 10px;
    margin-top: 403px;
}

.content_m_info .module .module_r {
    float: left;
    width: 37px;
    height: 30px;
    line-height: 30px;
    margin-left: 16px;
    font-size: 14px;
    float: left;
    color: #959595;
}

.content_m_info .module .module_r .input_3 {
    width: 225px;
    height: 26px;
    border: 1px solid #e6e6e6;
}

.content_m_phone {
    float: left;
    width: 490px;
}

.content_m_phone .content_m_phone_t {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.content_m_phone .content_m_phone_t .img_1 {
    width: 469px;
    height: 222px;
    position: relative;
    top: 95px;
}

.content_m_phone .content_m_phone_t .img_2 {
    width: 222px;
    height: 469px;
    position: relative;
    left: 95px;
}

.content_m_phone .content_m_phone_t .textarea_1 {
    width: 335px;
    height: 187px;
    resize: none;
    overflow: hidden;
    position: relative;
    top: -118px;
    left: 2px;
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px; /* Webkit browsers */
    border-radius: 5px; /* W3C syntax */
    background-image: url('../../CRM/img/across-advertisement.png');
    background-repeat: no-repeat;

}

.content_m_phone .content_m_phone_t .textarea_2 {
    width: 187px;
    height: 335px;
    resize: none;
    overflow: hidden;
    position: relative;
    top: -62px;
    left: -117px;
    -moz-border-radius: 5px; /* Gecko browsers */
    -webkit-border-radius: 5px; /* Webkit browsers */
    border-radius: 5px; /* W3C syntax */
    background-image: url('../../CRM/img/across-advertisement.png');
    background-repeat: no-repeat;
}

.content_m_phone .content_m_phone_t .textarea_3 {
    width: 187px;
    height: 50px;
    resize: none;
    overflow: hidden;
    position: relative;
    top: -62px;
    left: -117px;
    -moz-border-radius: 0 0 5px 5px; /* Gecko browsers */
    -webkit-border-radius: 0 0 5px 5px; /* Webkit browsers */
    border-radius: 0 0 5px 5px; /* W3C syntax */
    background-image: url('../../CRM/img/across-advertisement.png')
}

.content_m_phone .content_m_phone_t .textarea_t {
    width: 192px;
    height: 100px;
    resize: none;
    overflow: hidden;
    position: relative;
    top: 66px;
    left: 0px;
    -moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
    -webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
    border-radius: 5px 5px 0 0; /* W3C syntax */
}

.content_m_phone .content_m_phone_t .textarea_m {
    width: 192px;
    height: 50px;
    resize: none;
    overflow: hidden;
    position: relative;
    top: 200px;
    left: 0px;
}

.content_m_phone .content_m_phone_t .textarea_b {
    width: 192px;
    height: 50px;
    resize: none;
    overflow: hidden;
    position: relative;
    top: 356px;
    left: 0px;
    -moz-border-radius: 0 0 5px 5px; /* Gecko browsers */
    -webkit-border-radius: 0 0 5px 5px; /* Webkit browsers */
    border-radius: 0 0 5px 5px; /* W3C syntax */
}

.content_m_phone .content_m_phone_b {
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.module_pos {
    margin-left: 150px;
}

.content_m_info_pos {
    float: left;
    width: 519px;
    margin-top: 40px
}

.content_m_cl {
    border: 1px solid #000000;
    width: 400px;
    margin-bottom: 20px
}

.module_c_info {
    width: 310px;
    /*height: 60px;*/
    margin-top: 5px;
    font-size: 12px;
    color: #999999;
    line-height: 30px;
    padding: 5px;
    overflow: hidden;
    background-image: url('../../CRM/img/pop-up-box.png');
    border: none;
    background-size: 100% 100%
}

.cancel_sy {
    background-image: url('../../CRM/img/cancel-z.png');
    background-repeat: no-repeat;
    background-position: 54px;
    margin-top: 20px
}

.cancel_pos {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.main_span_1 {
    font-size: 14px;
    color: #ff0000
}

.main_span_2 {
    font-size: 14px;
    color: #cccccc
}

.main_span_3 {
    font-size: 14px;
    color: #00b9ff
}

.main_span_4 {
    font-size: 14px;
    color: #00b9ff;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.input_1 {
    width: 150px;
    height: 26px;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.input_2 {
    width: 10px;
    height: 10px;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.monopolize {
    width: 120px;
    margin: 10px;
}

