body { font-family:"Microsoft YaHei" !important; font-size:14px; margin:0; line-height:150%; background-image:url(../../CRM/img/account-big-bg.png);}
img { border:none;}
.img-preview {max-width:50%; height:46px; margin-top:3px; margin-bottom:3px;}
.net_container { margin:0 auto; width:100%;}
.net_header { 
	width: 100%;
    height: 70px;
    background: #00b7ff;
    margin-bottom: 10px;
    text-align: center;
    position: fixed;
    z-index: 998;
    }
.net_header img{
	margin-top: 6px;
}
/*.menu { height:30px; background:#09c; margin-bottom:5px;}*/
.net_mainContent { width:1200px; zoom:1; margin-left:auto; margin-right:auto; border:1px solid #e6e6e6;}
.net_sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    padding-bottom: 20px;
    overflow: auto;
    width:160px;
    background-image:url(../../CRM/img/account-bg.png);
    z-index: 998; }
.sidebar_adm {
	background-color:#FFF;
	width:150px;
	height:140px;
	margin:10px 0 10px 10px;
	-moz-border-radius:5px 0 0 5px;      /* Gecko browsers */
    -webkit-border-radius:5px 0 0 5px;   /* Webkit browsers */
    border-radius:5px 0 0 5px;           /* W3C syntax */	
}
.net_sidebar .sidebar_adm .sidebar_t img {
	width:80px;
	height:80px;
	margin:10px 0 5px 30px;
	border:5px solid #ffffff;
    -moz-border-radius:45px;      /* Gecko browsers */
    -webkit-border-radius:45px;   /* Webkit browsers */
    border-radius:45px;           /* W3C syntax */
}
.net_sidebar .sidebar_adm .sidebar_m { width:100%; text-align:center; margin-bottom:10px;}
.net_sidebar .sidebar_m span { width:100%; font-size:14px; color:#00b7ff;}
.net_sidebar .sidebar_b { padding:35px 0 0 18px;}
.net_sidebar .sidebar_b img { margin:0 10px 0 20px;}   /* vertical-align:bottom; */
.net_sidebar .sidebar_b .sidebar_btn {
	width:100%;
	height:50px;
	line-height:50px;
	color:#FFF;
	text-align:left;
	font-size:14px;
	margin-top:10px;
}
.net_sidebar .sidebar_b .sidebar_btn_on {
	width:100%;
	height:50px;
	line-height:50px;
	color:#00b7ff;
	text-align:left;
	font-size:14px;
	margin-top:10px;
	background-color:#FFF;
	-moz-border-radius:5px 0 0 5px;      /* Gecko browsers */
    -webkit-border-radius:5px 0 0 5px;   /* Webkit browsers */
    border-radius:5px 0 0 5px;            /* W3C syntax */
}
.content_bg { float:right; width:1040px; min-height:702px; background-color:#FFF;margin-top:75px}
/*.net_content { margin-left:10px;}*/
.net_content .content_t { width:100%; height:22px; margin-top:30px; margin-bottom:30px;margin-left: 17px;}
.net_content .content_t .content_t_l{
	width:1px;
    height:22px;
    border-right:5px solid #00b7ff;
    float:left;	
}
.net_content .content_t .content_t_r{
	width:815px;
    color:#000000;
    font-size:20px;
    font-weight:bold;
    float:left;
    margin-left:10px;
}
.net_content .content_m { background-color:#FFF;}
.content_info {
	height:39px;
    border-top:1px solid #ececec;
    margin-top:20px;
    text-align:center;
    line-height:39px;
    font-size:12px;
    color:#b0b0b0;
}
.net_content .content_b { width:100%; margin-top:30px; text-align:left; margin-left:60px; margin-bottom:20px}
button {
    height:30px;
	line-height:28px;
    background-color:#00b9ff;
    color:#ffffff;
	-moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    border:1px solid #00b9ff;
	padding:0 20px;
	cursor: pointer;
}
button:hover{
    color: #fff;
    background-color: #00a6e5;
}
button[disabled], button[disabled]:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.button_on {
	width:101px;
    height:33px;
	line-height:33px;
    border:1px solid #00b9ff;
    background-color:#e5f8ff;
	-moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#00b9ff;
    font-size:16px;
}
.button_off {
	width:101px;
    height:33px;
	line-height:33px;
    border:1px solid #00b9ff;
    background-color:#00b9ff;
	-moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#ffffff;
    font-size:16px;
}
.button_b {
	width:180px;
    height:50px;
	line-height:33px;
    border:3px solid #FFF;
    background-color:#00acfd;
	-moz-border-radius:25px;      /* Gecko browsers */
    -webkit-border-radius:25px;   /* Webkit browsers */
    border-radius:25px;            /* W3C syntax */
    color:#FFF;
    font-size:21px;
}
.button_s_on {
    height:28px;
	line-height:28px;
    background-color:#e5f8ff;
    color:#00b9ff;
	-moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    border:1px solid #00b9ff;
	padding:0 20px;
}
.button_up {
	width:70px;
    height:28px;
	line-height:28px;
    background-color:#00b9ff;
    color:#ffffff;
	-moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    border:1px solid #00b9ff;
	padding:0 20px;
}
.button_up:disabled {
    background-color:gray;
    border:1px solid gray;
    cursor: default;
}
.button_1 {
    width:101px;
    height:33px;
    line-height:33px;
    border:1px solid #00b9ff;
    background-color:#e5f8ff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#00b9ff;
    font-size:16px;
}
.button_2 {
    width:101px;
    height:33px;
    line-height:33px;
    border:1px solid #00b9ff;
    background-color:#00b9ff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#ffffff;
    font-size:16px;
}
.button_22 {
    height:33px;
    line-height:33px;
    border:1px solid #00b9ff;
    background-color:#00b9ff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#ffffff;
    font-size:16px;
}
.button_3 {
    width:180px;
    height:50px;
    line-height:33px;
    border:3px solid #FFF;
    background-color:#00acfd;
    -moz-border-radius:25px;      /* Gecko browsers */
    -webkit-border-radius:25px;   /* Webkit browsers */
    border-radius:25px;            /* W3C syntax */
    color:#FFF;
    font-size:21px;
}
.button_4 {
    height:28px;
    line-height:28px;
    background-color:#e5f8ff;
    color:#00b9ff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    border:1px solid #00b9ff;
    padding:0 20px;
}
.button_5 {
    width:101px;
    height:33px;
    line-height:33px;
    border:1px solid #00b9ff;
    background-color:#ffffff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#00b9ff;
    font-size:16px;
}
.button_6 {
    width:75px;
    height:33px;
    line-height:33px;
    border:1px solid #00b9ff;
    background-color:#ffffff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#00b9ff;
    font-size:16px;
    padding:0px
}
.button_7 {
    width:75px;
    height:33px;
    line-height:33px;
    border:1px solid #00b9ff;
    background-color:#00b9ff;
    -moz-border-radius:3px;      /* Gecko browsers */
    -webkit-border-radius:3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    color:#ffffff;
    font-size:16px;
    padding:0px
}
.button_8{
	height: 28px;
	line-height: 28px;
	background-color:#E5F8FF;
	color:#00B9FF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #00B9FF;
	padding: 0px;
	width: 34px;
}
.button_8:hover{
	color: #fff;
}
.button_9{
    height: 28px;
    line-height: 28px;
    background-color:#E5F8FF;
    color:#00B9FF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #00B9FF;
    padding: 0 10px;
    margin: 2px 0;
}
.button_9[disabled] {
    background-color: #dddddd;
    color: #0A0A0A;
    border-color: #9d9d9d;
}
.m_left_0 { margin-left:0px;}
.m_left_10 { margin-left:10px;}
.m_left_20 { margin-left:20px;}
.m_left_30 { margin-left:30px;}
.m_left_65 { margin-left:65px;}
.m_left_110 { margin-left:110px;}
.m_left_200 { margin-left:200px;}
.m_left_270 { margin-left:270px;}
.m_left_285 { margin-left:285px;}
.m_right_10 { margin-right:10px;}
.m_right_20 { margin-right:20px;}
.m_top_20 { margin-top:20px;}
.m_top_35 { margin-top:35px;}
.m_top_45 { margin-top:45px;}
.f_txt_s {
	line-height:30px;
	font-size:12px;
    color:#959595;
}
.f_left { float:left;}
.f_weight { font-weight:bold;}
/*.net_footer { height:60px; background:#6cf;}*/
.clearfloat { clear:both; height:0; font-size:1px; line-height:0px;}
.sidebar_top {
    width: 80px;
    height: 80px;
    margin: 10px 0 5px 30px;
    border: 5px solid #ffffff;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
  }
.sidebar_top img{
    width: 80px;
    height: 80px;
}
.net_sidebar .sidebar_mid span { margin:0px 40px; width:100%; font-size:14px; color:#00b7ff;}
.left-sanjiao{
    width:33px;
    height:33px;
    margin-left:684px;
    margin-top:16px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    float:left;
    cursor: pointer;
}
.left-sanjiao img{
    width:25%;
    height:35%;
    margin-left:12px;
    cursor:pointer;
    margin-top:10px
}
.dijiye{
    height:33px;
    float:left;
    margin-top:22px;
    width: 80px;
    text-align: center;
    margin-left: 0px;
}
.right-sanjiao{
    width:33px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    float:left;
    cursor: pointer;
}
.right-sanjiao img{
    width:25%;
    height:35%;
    margin-left:12px;
    cursor:pointer;
    margin-top:10px
}
.text-box{
    width:80px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    margin-left:16px;
    float:left;
    text-align: center;
}
.button-next{
    width:83px;
    height:33px;
    margin-left:15px;
    margin-top:16px;
    float:left;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    color:#67ccff;
    cursor:pointer;
    background-color:#ffffff;
    font-size:16px
}
.button-next:hover{
    background-color: #00a6e5;
    color: #FFFFFF;
}
.resource-price-table-name-div{
	margin-left: 100px;
    margin-top: 6px;
}
.resource-price-table-element{
    border-collapse:collapse;
    width: 800px;
    height: auto;
    margin-left: 100px;
    margin-top: 6px;
    text-align: center;
    border: 1px solid #e4e4e4;
}
.resource-price-table-element td{
    border:1px solid #cccccc
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
select:focus{
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
}
input:focus{
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
}

/***�ŵ궨���ϴ�loading��ʽ**********/
.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  position: relative;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #333;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading .loading-msg {
	text-align: center;
	margin-top: -30px;
}

input[readonly] {
	background-color: white !important;
}

/*公共样式*/
.main-content {
    background-color: #ffffff;
    padding: 20px 30px;
    min-height: 718px;
}
.main-content .content-title {
    position: relative;
    font-size: 20px;
    color: #000000;
    padding: 0 20px;
    font-weight: bold;
}
.main-content .content-title:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -3px;
    left: 5px;
    border-right: 5px solid #00b7ff;
}


/*搜索条件列表*/
.search-form {
    width: 1000px;
    margin-top: 30px;
    font-size: 14px;
}
.search-param {
    display: inline-block;
    line-height: 40px;
    margin-right: 20px;
}
.search-param .param-title {
    font-weight: bold;
}
.search-param .param-select {
    height: 30px;
    min-width: 110px;
    border-radius: 2px;
    margin-left: 0;
    border: 1px solid #cccccc;
}
.search-param .param-input {
    height: 30px;
    line-height: 30px;
    width: 190px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    margin-left: 7px;
    padding: 0 6px;
}
.search-param .param-input.date-range-picker {
    text-align: center;
}
.search-param .param-select:focus,
.search-param .param-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
}
.btn-search {
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
    color: #fff;
}