table { background-color:#e6e6e6;}
table td { background-color:#FFF;}
.span_red { color:#F00;}
.span_grey { color:#959595;}
.span_font_12 { font-size:12px;}
.span_font_14 { font-size:14px; font-weight:bold;}
.content_m_info { margin:10px;}
.input_1 {
	width:350px;
	height:26px;
	border:1px solid #e6e6e6;
}
.input_2 {
	width:50px;
	height:26px;
	border:1px solid #e6e6e6;
	margin-right:10px;
}
.textarea_1 {
	width:400px;
	height:100px;
	resize:none;
	overflow:hidden;
}
.select_1 {
	width:100px;
	height:30px;
	border:1px solid #e6e6e6;
}
.cont { float:left;}
.h_111 { height:111px;}
.l_height_111 { line-height:111px;}
.l_height_66 { line-height:66px;}
.upload_img { width:300px; width:150px;}