.date{margin-left: 30px;}
.title-element {width: 297px;margin-left: 30px;float: left;line-height: 40px;}

.title-element span {font-weight: bold;float: left;}

.title-element-short {width: 272px;float: left;line-height: 40px;}

.title-element-short  span {font-weight: bold;float: left;}

.title-element-ss {width: 300px;float: left;line-height: 40px;}

.title-element-ss  span {font-weight: bold;float: left;}

.input_box_short{width: 140px;height: auto;float: left;margin-left: 10px;}

.input_box_short input{height: 30px;width: 170px;border-radius: 2px;border: 1px solid #cccccc;}

.input_box_ss{width: 99px;height: auto;float: left;margin-left: 10px;}

.input_box_ss input{height: 30px;width: 95px;border-radius: 2px;border: 1px solid #cccccc;}

.date-element-short{width:202px;float: left; line-height:40px;font-weight: bold;}

.date-element-short span{font-weight: bold;float:left}

.date-element-short select{  height:30px;width:110px;border-radius: 2px; margin-left:16px;border:1px solid #cccccc}

.date-element{
    width:250px;
    float: left;
    line-height:40px;
    margin-left:30px;
    font-weight: bold;
}
.date-element span{
    font-weight: bold;
    float:left
}
.date-element select{
    height:30px;
    width:110px;
    border-radius: 2px;
    margin-left:16px;
    border:1px solid #cccccc
}
.date-element-t{
    width:530px;
    float: left;
    line-height:40px;
    margin-left:22px;
    font-weight: bold;
}
.date-element-t span{
    font-weight: bold;
    float:left
}
.date-element-t select{
    height:30px;
    width:110px;
    border-radius: 2px;
    margin-left:16px;
    border:1px solid #cccccc
}
.deli_time{
    width:367px;
    float: left;
    line-height:40px;
    margin-left:22px;
    font-weight: bold;
}
.deli_time span{
    font-weight: bold;
    float:left
}
.deli_time select{
    height:30px;
    width:110px;
    border-radius: 2px;
    margin-left:16px;
    border:1px solid #cccccc
}
.date-element-time{
    width:400px;
    float: left;
    line-height:40px;
    margin-left:29px;
    font-weight: bold;
}
.date-element-time span{
    font-weight: bold;
    float:left
}
.date-element-time select{
    height:30px;
    width:110px;
    border-radius: 2px;
    margin-left:16px;
    border:1px solid #cccccc
}

.use_name {
    width: 310px;
    margin-left: 30px;
    float: left;
    line-height: 40px;
}
.use_name span {
    font-weight: bold;
    float: left;
}
.input_box {
    width: 200px;
    height: auto;
    float: left;
    margin-left: 10px;
}
.liandong-element{
    width: 297px;
    margin-left: 30px;
    float: left;
    line-height: 40px;
}

.input_box input{
    height: 30px;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #cccccc;
}

.button_use{
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
}

.title{
    width: 1000px;
    margin-top: 30px;
    font-size: 14px;
    height: 123px;
    margin-left:14px;
}

.button_operation_blue {
    height: 28px;
    line-height: 28px;
    background-color: #00b9ff;
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #00b9ff;
    padding: 0 5px;
    margin:1px 0px;
    cursor: pointer;
}
.button_operation_red {
    height: 28px;
    line-height: 28px;
    background-color: #ffffff;
    color: #ff574b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ff574b;
    padding: 0 5px;
    margin:1px 0px;
    cursor: pointer;
}

.button_operation_colour{
    height: 28px;
    line-height: 28px;
    background-color: #ffffff;
    color: #40cbff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #00b9ff;
    padding: 0 5px;
    margin:1px 0px;
    cursor: pointer;
}
/** µ¯³ö²ã**/
.popup {
    width: 330px;
    height: 155px;
    padding: 10px;
    background: #FFF;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.popup_1 {
    width: 330px;
    height: 250px;
    padding: 10px;
    background: #FFF;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.popup_title{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    margin:15px auto;
}

.popup_content{
    text-align:center;
    margin:20px auto;
}
.popup_button_1{
    margin-left:115px;
}
.popup_button_2{
    float:right;
    margin-top:20px;
    margin-right:120px
}
.popup_button_blue{
    width:95px;
    height: 35px;
    line-height: 35px;
    background-color: #00b9ff;
    color: #ffffff;
    margin: 15px 75px;
}

.popup_button_colour{
    width:95px;
    height: 35px;
    line-height: 35px;
    background-color: #ffffff;
    color: #40cbff;
}

.popup_input{
    width:250px;
    margin: 15px auto;
}

.popup_txt{
    margin:5px;
    float: left;
    width:70px;
}

.popup_input input{
    height: 25px;
    width: 150px;
    border-radius: 2px;
}

.table-ele{
    width: 1031px;
    height: auto;
    margin-left: 5px;
    text-align: center;
    border: 1px solid #e4e4e4;
    margin-top:15px
}
.table-element{
    border-collapse:collapse;
    width: 800px;
    height: auto;
    margin-left: 100px;
    margin-top: 40px;
    text-align: center;
    border: 1px solid #e4e4e4;
}
.table-element td{
    border:1px solid #cccccc
}
.td_pos{
    text-align:left;
}
.button_find{
    float: left;
    margin-left: 51px;
    margin-top: 8px;
    cursor: pointer;}
