.left-sanjiao-b{
    width:33px;
    height:33px;
    margin-left:668px;
    margin-top:16px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    float:left
}
.left-sanjiao img{
    width:25%;
    height:35%;
    margin-left:12px;
    margin-top:10px
}
.dijiye{
    width:57px;
    height:33px;
    float:left;
    margin-top:22px;
    margin-left:16px
}
.right-sanjiao{
    width:33px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    float:left
}
.right-sanjiao img{
    width:25%;
    height:35%;
    margin-left:12px;
    margin-top:10px
}
.text-box{
    width:80px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    margin-left:16px;
    float:left
}
.button-next{
    width:83px;
    height:33px;
    margin-left:15px;
    margin-top:16px;
    float:left;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    color:#67ccff;
    background-color:#ffffff;
    font-size:16px
}
.up-title{
    width:1040px;
    height:60px;
    margin-top:45px;
    margin-left:43px;
}
.money{
    width:60px;
    height:60px;
    float:left
}
.money img{
    width:100%;
    height:auto
}
.money-gr{
    width:155px;
    height:100%;
    float:left;
    margin-top:10px;
    margin-left:22px
}
.gr-money{
    width:100%;
    height:20%;
    font-size:16px;
    font-weight:bold;
    margin-left:3px;
}
.count{
    width:100%;
    color:#ff4e5a;
    font-size:22px;
    margin-top:9px
}
.money-gre{
    width:60px;
    height:60px;
    float:left;
    margin-left:60px;
}
.money-gre img{
    width:100%; height:auto
}
.money-re{
    width:120px;
    height:100%;
    float:left;
    margin-top:10px;
    margin-left:22px
}
.money-re-one{
    width:100%;
    height:20%;
    font-size:16px;
    font-weight:bold;
    margin-left:3px;
}
.money-re-two{
    width:100%;
    color:#00c9b8;
    font-size:22px;
    margin-top:9px
}
.BORDER-STY{
    width:1016px;
    height:152px;
    margin-left:17px;
    margin-top:10px;
    background-image: url('/assets/images/blue-bg.png');
    background-size:100% 100%
}
.MER-all{
    width:863px;
    height:70px;
    margin-left:77px;
    padding-top:40px;
}
.MER-table{
    width:863px;
    height:77px;
    text-align:center;
    color:#ffffff
}
.MER-tr{
    width:863px;
    line-height:35px;
    font-size:16px;
}
.MER-td{
    width:173px; height:100%;
}
.MER-tr-o{
    width:863px;
    line-height:35px;
    font-size:22px;
    font-weight:bold;
    font-family: inherit;
}
.MER-td-o{
    width:173px; height:100%;
}
.choose-sy{
    width:1016px;
    height:41px;
    margin-top:18px;
    margin-left:17px;
}
.choose-sy-back{
    width:610px;
    height:40px;
    border-radius: 2px 2px 0px 0px;
    background-color:#eeeeee;
}
.choose-sy-back_put_dashboard{
    width:601px;
    height:40px;
    border-radius: 5px 5px 0px 0px;
    background-color:#eeeeee;
}
.MER-ch{
    width:120px;
    height:100%;
    text-align: center;
    line-height: 40px;
    color:#00b9ff;
    font-size:16px;
    border-bottom-style: none;
    float:left;
    background-color:#fff 	;
    border:1px solid #e6e6e6;
    border-bottom-color:#fff;
    cursor: pointer;
}
.MER-cho{
    width:120px;
    height:100%;
    text-align: center;
    line-height: 40px;
    font-size:16px;
    float:left;
    border:1px solid #e6e6e6;
    cursor: pointer;
}
.MER-A{
    width:1016px;
    height:auto;
    border:1px solid #d9d9d9;
    margin-left:17px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(158, 160, 169, 0.5);
    margin-top: -2px;
}
.MER-cho-left{
    width:120px;
    height:100%;
    text-align: center;
    line-height: 40px;
    font-size:16px;
    float:left;
    border:1px solid #e6e6e6;
     border-radius:5px 0 0 0;
    cursor: pointer;
    border-bottom: none;
}
.MER-cho-right{
    width:120px;
    height:100%;
    text-align: center;
    line-height: 40px;
    font-size:16px;
    float:left;
    border-radius:0 5px 0 0;
    border:1px solid #e6e6e6;
    cursor: pointer;
    border-bottom: none;
}
.MER-ch-active{
    color:#00b9ff;
    border-bottom-style: none;
    background-color:#fff 	;
    border-bottom: none;
}
.MER-A-bottom{
    width:944px;
    /*height:691px;*/
    margin-left:36px;
}
.wenzi{
    width:66px;
    height:18px;
    margin-top:50px;
    font-size:16px;
    font-weight:bold;
    float:left
}
.MER-A-bottom select{
    width:75px;
    height:30px;
    margin-top:50px;
    margin-left:750px;
    float:left
}
.text-area{
    width:944px;
    height:250px
}
.TEXT_mer{
    width:305px;
    height:222px;
    overflow: auto;
    text-align:left;
    line-height: 50px;
    margin-top:20px;
    float:left
}
.par-one{
    width:100%;
    height:50px;
    padding-left:4px;
    font-size:14px;
    border:1px solid #d9d9d9;
    font-weight:bold;
    cursor: pointer;
}
.par-one:HOVER{
    width:100%;
    height:50px;
    border:1px solid #d9d9d9;
    background-color:#e5f8ff;
    font-size:14px;
    font-weight:bold;
    padding-left:4px;
    cursor: pointer;
}
 .par-one:nth-child(odd):HOVER{
    width:100%;
    height:50px;
    border:1px solid #d9d9d9;
    background-color:#e5f8ff;
    font-size:14px;
    font-weight:bold;
    padding-left:4px;
    cursor: pointer;
}
.par-two{
    width:100%;
    height:50px;
    border:1px solid #d9d9d9;
    background-color:#00b7ff;
    font-size:14px;
    font-weight:bold;
    padding-left:4px;
    cursor: pointer;
}
.par-one:nth-child(odd){
    width:100%;
    height:50px;
    border:1px solid #d9d9d9;
    background-color:#d9d9d9;
    font-size:14px;
    font-weight:bold;
    padding-left:4px
}

.par-fou{
    width:100%;
    height:50px;
    border:1px solid #d9d9d9;
    background-color:#f4f5f7;
    font-size:14px;
    font-weight:bold;
    padding-left:4px
}
.par-five{
    width:100%;
    height:50px;
    border:1px solid #d9d9d9;
    background-color:#00b9ff;
    font-size:14px;
    font-weight:bold;
    padding-left:4px;
    color:#ffffff
}
.zhexiantu{
    width:615px;
    height:230px;
    margin-left:24px;
    float:left;
}
.MER-middle{
    width: 994px;
    height: 38px;
    margin-top: 95px;
}
.mer-wenzi{
    width:120px;
    height:100%;
    float:left
}
.mer-wenzi button{
    height:100%;
    background-color:#00b9ff;
    border:1px solid #00b9ff;
    border-radius:2px;
    color:#ffffff;
    font-size:14px;
    margin-top:12px
}
.MER-right{
    width:339px;
    height:100%;
    float:left;
    margin-left:498px
}
.left-sanjiao-b{
    width:33px;
    height:33px;
    margin-left:0px;
    margin-top:16px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    float:left
}
.left-sanjiao-b img{
    width:25%;
    height:35%;
    margin-left:12px;
    margin-top:10px
}
.sy-table{
    width:959px;
    height:auto;
    margin-top:40px;
    margin-bottom: 30px;
}
.sy-table-style{
    width:959px;
    height:auto;
    text-align: center;
    font-size:14px;
    border:0px
}
.sy-table-tr{
    width:959px;
    line-height: 50px;
    background-color:#ecedef;
    font-weight:bold;
    font-size:14px
}
.sy-td{
    width:44px;
    height:100%;
    border:0px
}
.syy-td{
    width:131px;
    height:100%;
    border:0px
}
.sy-tr-o{
    width:959px;
    line-height: 50px;
    background-color: #ffffff;
    font-size:14px
}
.oo{
    text-align: right;
}
.sy-tr-t{
    width:959px;
    line-height: 50px;
    background-color:#e5f8ff;
    font-size:14px
}
.sy-tr-h{
    width:959px;
    line-height: 50px;
    background-color: #ffffff;
    font-size:14px
}
.sy-tr-g{
    width:959px;
    line-height: 50px;
    background-color:#f4f5f7;
    font-size:14px
}
.sanjiao-end{
    width:959px; height:62px;
}
.left-sanjiao-c{
    width:33px;
    height:33px;
    margin-left:620px;
    margin-top:16px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    float:left
}
.left-sanjiao-c img{
    width:25%;
    height:35%;
    margin-left:12px
;margin-top:10px
}

