/*******************��ҳ****************/
.pagination div {
	display: inline;
}

/* table-with-search-component-------start-------- */
.table-pagination-container {
	text-align: right;
	margin: 20px 0;
	padding: 0 20px;
}
.table-pagination-container .pre-page-btn,
.table-pagination-container .next-page-btn {
	display: inline-block;
	width: 33px;
	height: 33px;
	line-height: 33px;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	cursor: pointer;
	text-align: center;
}
.table-pagination-container .pre-page-btn i,
.table-pagination-container .next-page-btn i {
	color: #67ccff;
}
.table-pagination-container .pre-page-btn[disabled],
.table-pagination-container .next-page-btn[disabled] {
	cursor: default;
}
.table-pagination-container .pre-page-btn[disabled] i,
.table-pagination-container .next-page-btn[disabled] i {
	color: #dddddd;
}

.table-pagination-container .page-no-info {
	height: 33px;
	line-height: 33px;
	margin: 0 10px;
	text-align: center;
	display: inline-block;
}

.table-pagination-container .jump-page-no {
	width: 80px;
	height: 33px;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	margin: 0 20px;
	text-align: center;
}
.table-pagination-container .jump-page-btn {
	height: 33px;
	margin: 0;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	color: #67ccff;
	cursor: pointer;
	background-color: #ffffff;
	font-size: 16px;
	float: none;
}
/* table-with-search-component-------end-------- */

.pagination .pre-page {
	width: 33px;
	height: 33px;
	margin-left: 668px;
	margin-top: 16px;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	float: left;
	cursor: pointer;
}

.pagination .pre-page i {
	margin-top: 8px;
	margin-left: 10px;
	color: #67ccff;
}

.pagination .page-info {
	height: 33px;
	float: left;
	margin-top: 22px;
	width: 80px;
	text-align: center;
	margin-left: 0;
}

.pagination .next-page {
	width: 33px;
	height: 33px;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	margin-top: 16px;
	float: left;
	cursor: pointer;
}

.pagination .next-page i {
	margin-top: 8px;
	margin-left: 10px;
	color: #67ccff;
}

.pagination .pre-page[disabled],
.pagination .next-page[disabled] {
	cursor: default;
}
.pagination .pre-page[disabled] i,
.pagination .next-page[disabled] i {
	color: #dddddd;
}

.pagination .unused {
	background-color: #eee;
	border-color: #ddd;
	color: #23527c;
	cursor: default;
}

.pagination .unused i {
	color: gray;
	cursor: not-allowed;
}

.pagination .button-next {
	width: 83px;
	height: 33px;
	margin-left: 15px;
	margin-top: 16px;
	float: left;
	border-radius: 2px;
	border: 1px solid #e6e6e6;
	color: #67ccff;
	cursor: pointer;
	background-color: #ffffff;
	font-size: 16px
}

.pagination .button-next:hover {
	background-color: #00a6e5;
	color: #FFFFFF;
}


/*grid组件*/
.table-container {
	margin-top: 30px;
}
.table-container .table-top-banner {
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	border: 1px solid #e4e4e4;
	background-color: #f2f2f4;
}
.table-container .table-top-banner .check-all {
	display: inline-block;
	margin-right: 20px;
}
.table-container .table-top-banner button {
	margin: 0 5px;
	line-height: 1;
}
.table-container .table-top-banner .glyphicon-ok,
table .glyphicon-ok {
	margin-right: 5px;
	color: green;
}
.table-container .table-top-banner .glyphicon-remove,
table .glyphicon-remove {
	margin-right: 5px;
	color: red;
}
.table-container .table-top-banner .total-count-no {
	margin: 0 5px;
	color: red;
}
