<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="net_content">
                <div class="content_t"><div class="content_t_l"></div><div class="content_t_r">APP详情</div><div class="m_top_20"><button>返回列表</button></div></div>
                <!--内容部分 start-->
                <div class="content_m">
                    <div class="content_m_info" style="width:1030px">
                        <div class="module">
                            <div class="module_l">App名称</div>
                            <div class="module_c">
                                <div class="module_c"><input class="input_2" type="text"/></div>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">设备</div>
                            <div class="module_c">
                                <select class="select_s">
                                    <option>iphone</option>
                                </select>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">iTunes ID</div>
                            <div class="module_c">
                                <div class="module_c"><input class="input_3" type="text"/></div>
                                <span class="main_span_2">请输入本App的iTunesID,芒果将自动获取您的App信息，节省您的输入时间。</span>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l" >BundleID</div>
                            <div class="module_c"><input class="input_3" type="text" placeholder="电影ID"/></div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">App类型</div>
                            <div class="module_c">
                                <select class="select_s">
                                    <option>---请选择</option>
                                </select>
                                <div class="clearfloat"></div>
                            </div>
                            <button class="button_7 m_left_20">添加</button>
                            <div class="module_c_info m_left_20">
                                <div class="module_c"><input class="input_5 cancel_sy" value="图书"/></div>
                                <div class="module_c"><input class="input_5 cancel_sy" value="商务"/></div>
                                <div class="module_c"><input class="input_5 cancel_sy" value="教育"/></div>
                            </div>
                            <div class="clearfloat"></div>
                            <div class="none_style"></div>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <!--内容部分 end-->
                <div class="content_info">
                    Copyright © 2015 ffan.CRM All Rights Reserved 上海新飞凡电子商务有限公司版权所有 沪ICP备08114786 许可证 : 沪B2-20150088
                </div>
                <div class="clearfloat"></div>
            </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="net_footer"></div>-->
    <!--底部 end-->
</div>
</body>
</html>
