<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/log.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/login-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="body-right">
                <div class="account-info-back" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >App管理</div>
                </div>

                <div class="title" >
                    <div class="check">
                        <span>选择平台:</span>
                        <select>
                            <option value ="1">iphone</option>
                        </select>
                    </div>
                    <div class="check_1">
                        <span >App名称/itunesID/包名:</span>
                        <input type="text"/>
                    </div>
                    <div class="user">
                        <span >Appkey:</span>
                        <input type="text"/>
                    </div>
                    <div class="user">
                        <span >用户邮箱:</span>
                        <input type="text"/>
                    </div>
                    <div class="user" style="width:500px">
                        <span >创建时间:</span>
                        <input type="text"/>&nbsp;&nbsp;&nbsp;-<input type="text"/>
                    </div>
                    <div >
                        <button class="button_2">查询</button>
                    </div>
                </div>

                <table border="1" cellspacing="0" class="table-style-roll">
                    <tr class="tr-a" >
                        <td class="td-b">App名称</td>
                        <td class="td-d">Appkey</td>
                        <td class="td-d">App Secret</td>
                        <td class="td-f">平台类型</td>
                        <td class="td-a">展示</td>
                        <td class="td-a">点击</td>
                        <td class="td-a">点击率</td>
                        <td class="td-a">创建日期</td>
                        <td class="td-g">App状态</td>
                        <td class="td-d">用户邮箱</td>
                        <td class="td-d">操作</td>
                        <td class="td-f">审核</td>
                    </tr>
                    <tr class="tr-c">
                        <td class="td-d">飞凡App</td>
                        <td class="td-d">21515515</td>
                        <td class="td-d">132165#41351313</td>
                        <td class="td-f">iphone</td>
                        <td class="td-a">0</td>
                        <td class="td-a" >0</td>
                        <td class="td-a">0%</td>
                        <td class="td-a">2015-6-30</td>
                        <td class="td-g">待审核</td>
                        <td class="td-d">asdb@126.CRM</td>
                        <td class="td-d">详情</td>
                        <td class="td-f">
                            <button class="button_4" style="padding:0px">通过</button>
                            <button class="button_4" style="padding:0px">驳回</button>
                        </td>
                    </tr>
                    <tr class="tr-d">
                        <td class="td-d">飞凡App</td>
                        <td class="td-d">21515515</td>
                        <td class="td-d">132165#41351313</td>
                        <td class="td-f">iphone</td>
                        <td class="td-a">0</td>
                        <td class="td-a" >0</td>
                        <td class="td-a">0%</td>
                        <td class="td-a">2015-6-30</td>
                        <td class="td-g">待审核</td>
                        <td class="td-d">asdb@126.CRM</td>
                        <td class="td-d">详情</td>
                        <td class="td-f">
                            <button class="button_4" style="padding:0px">驳回</button>
                        </td>
                    </tr>
                    <tr class="tr-b">
                        <td class="td-d">飞凡App</td>
                        <td class="td-d">21515515</td>
                        <td class="td-d">132165#41351313</td>
                        <td class="td-f">iphone</td>
                        <td class="td-a">0</td>
                        <td class="td-a" >0</td>
                        <td class="td-a">0%</td>
                        <td class="td-a">2015-6-30</td>
                        <td class="td-g">待审核</td>
                        <td class="td-d">asdb@126.CRM</td>
                        <td class="td-d">详情</td>
                        <td class="td-f">
                            <button class="button_4" style="padding:0px">通过</button>
                            <button class="button_4" style="padding:0px">驳回</button>
                        </td>
                    </tr>
                </table>
                <div class="sanjiao_element">
                    <div class="left-sanjiao" >
                        <img src="../../CRM/img/left.png" />
                    </div>
                    <div class="dijiye" >2  /  4</div>
                    <div class="right-sanjiao">
                        <img src="../../CRM/img/right-01.png" style=""/>
                    </div>
                    <div class="text-box" ></div>
                    <button class="button-next">跳转</button>
                </div>
                <!--第一个弹出框-->
                <div class="content_m content_m_cl" >
                    <div class="content_m_info" style="float: none; width:100%;">
                        <div class="module">
                            <div class="module_l">驳回理由</div>
                            <div class="module_c"><textarea class="input_2" type="text" style="height:100px"></textarea></div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_c module_pos m_bottom_20" >
                                <button class="button_7">提交</button>
                                <button class="button_6">取消</button>
                                <!--<div class="module_c_info">
                                    <div>资源ID：123456789012345678</div>
                                    <div>资源名称：春节广告投放春节广告投放。</div>
                                </div>-->
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="footer"></div>-->
    <!--底部 end-->
</div>
</body>
</html>
