<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
            <!--左侧导航 start-->
            <div class="net_sidebar">
                <div class="net_font" >Dashboard</div>
                <!--<div class="sidebar_b">-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
                <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
                <!--</div>-->
                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="net_content">
                <div class="content_t"><div class="content_t_l"></div><div class="content_t_r">新建创意链接类型</div></div>
                <!--内容部分 start-->
                <div class="content_m">
                    <div class="content_m_info">
                        <div class="module">
                            <div class="module_l">资源归属</div>
                            <div class="module_c">
                                <span class="m_right_10"><input type="radio" checked="true" />飞凡</span>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">客户端类型</div>
                            <div class="module_c">
                                <span class="m_right_10"><input type="radio" checked="true" />APP</span>
                                <span class="m_right_10"><input type="radio"  />H5</span>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">支持应用</div>
                            <div class="module_c">
                                <span class="m_right_10"><input type="radio" checked="true" />飞凡ios</span>
                                <span class="m_right_10"><input type="radio"  />飞凡Android</span>
                                <span class="m_right_10"><input type="radio"  />飞凡M站</span>
                                <span class="m_right_10"><input type="radio"  />飞跃</span>
                                <div class="clearfloat"></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l" style="width:135px;">创意链接类型名称</div>
                            <div class="module_c"><input class="input_1" type="text" placeholder="电影ID"/></div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">描述</div>
                            <div class="module_c"><textarea class="input_1" type="text" style="height:200px"></textarea></div>
                            <div class="clearfloat"></div>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="content_b_left">
                    <button class="button_2 m_left_65">新建</button>
                </div>
                <!--内容部分 end-->
                <div class="content_info">
                    Copyright © 2015 ffan.CRM All Rights Reserved 上海新飞凡电子商务有限公司版权所有 沪ICP备08114786 许可证 : 沪B2-20150088
                </div>
                <div class="clearfloat"></div>
            </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="net_footer"></div>-->
    <!--底部 end-->
</div>
</body>
</html>
