<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/log.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
	<!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="body-right">
                <div class="account-info" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >分成调整日志</div>
                </div>

                <div class="title" >
                    <div class="date">
                        <span>调整日期</span>
                        <select>
                            <option value ="1">2016-1-26</option>
                        </select>
                        &nbsp;&nbsp;至
                        <select >
                            <option value ="1">2016-1-26</option>
                        </select>
                    </div>
                    <div class="user">
                        <span >被调整用户</span>
                        <input type="text"/>
                    </div>
                    <div class="user">
                        <span >操作人</span>
                        <input type="text"/>
                    </div>
                    <div class="user">
                        <button class="button_2">查询</button>
                    </div>
                </div>
                <table border="1" cellspacing="0" class="table-style">
                    <tr class="tr-a" >
                        <td class="td-a">修改时间</td>
                        <td class="td-b">被调整用户</td>
                        <td class="td-c">公司名称</td>
                        <td class="td-d">原分成</td>
                        <td class="td-e">修改后分成</td>
                        <td class="td-f">操作人</td>
                    </tr>
                    <tr class="tr-b">
                        <td class="td-a">2016-1-26 10:44</td>
                        <td class="td-b">haha@126.CRM</td>
                        <td class="td-c">贝亲</td>
                        <td class="td-d">15%</td>
                        <td class="td-e-style">10%</td>
                        <td class="td-f-style" >vivako@sina.cn</td>
                    </tr>
                    <tr class="tr-c">
                        <td class="td-a">2016-1-26 10:44</td>
                        <td class="td-b">haha@126.CRM</td>
                        <td class="td-c">贝亲</td>
                        <td class="td-d">15%</td>
                        <td class="td-e-style">10%</td>
                        <td class="td-f-style" >vivako@sina.cn</td>
                    </tr>
                    <tr class="tr-d">
                        <td class="td-a">2016-1-26 10:44</td>
                        <td class="td-b">haha@126.CRM</td>
                        <td class="td-c">贝亲</td>
                        <td class="td-d">15%</td>
                        <td class="td-e-style">10%</td>
                        <td class="td-f-style" >vivako@sina.cn</td>
                    </tr>
                </table>
                <div class="sanjiao_element">
                    <div class="left-sanjiao" >
                        <img src="../../CRM/img/left.png" />
                    </div>
                    <div class="dijiye" >2  /  4</div>
                    <div class="right-sanjiao">
                        <img src="../../CRM/img/right-01.png" style=""/>
                    </div>
                    <div class="text-box" ></div>
                    <button class="button-next">跳转</button>
                </div>
            </div>
        <!--主要内容 end-->
    	<div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="footer"></div>-->
    <!--底部 end-->
</div>
</body>
</html>
