<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>pos定向投放</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/new_app.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/resources.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/pos_delivery_rtp.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="net_content">
                <div class="content_t"><div class="content_t_l"></div><div class="content_t_r">投放库</div></div>
                <div class="tab" >
                    <div class="tab-left" >
                        新建投放
                    </div >
                    <div class="tab-right">
                        定向投放
                    </div>
                </div>
                <!--内容部分 start-->
                <div class="content_m new_m">
                    <div class="content_m_info">
                        <div class="module">
                            <div class="module_l">结算方式</div>
                            <div class="module_c"><input type="radio" checked="checked" /><span class="input_radio">CPM</span><input type="radio" /><span class="input_radio">CPC</span></div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">投放日期</div>
                            <div class="module_c">
                                <div class="module_c_input"><input class="input_6" type="text" />至<input class="input_6" type="text" /></div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">时间定向</div>
                            <div class="module_c">
                                <button class="button_on" onclick="timepopup()">不限</button>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">地域定向</div>
                            <div class="module_c">
                                <button class="button_on" onclick="popup()">不限</button>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="middle_line"></div>
                        <div class="module">
                            <div class="module_l">投放展示频次</div>
                            <div class="module_c">
                                <div class="module_c_input">
                                    <select class="select_s">
                                        <option>不限</option>
                                    </select>
                                    <input class="input_6" type="text" />人次
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">投放点击频次</div>
                            <div class="module_c">
                                <div class="module_c_input">
                                    <select class="select_s">
                                        <option>每日</option>
                                    </select>
                                    <input class="input_6" type="text" value="65535"/>人次
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">每日预算</div>
                            <div class="module_c">
                                <div class="module_c_input">
                                    <input class="input_6" type="text" />元
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l">每高出价</div>
                            <div class="module_c">
                                <div class="module_c_input">
                                    <input class="input_6" type="text" /><span class="span_rtp1">元/点击</span>建议出价范围<span class="span_blue">0.30~0.36</span>元
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                        <div class="module">
                            <div class="module_l"></div>
                            <div class="module_c">
                                <div class="module_c_input">
                                    <div class="clearfloat"></div>
                                    <input class="input_6" type="text" /><span class="span_rtp2">元/千次展示</span>建议出价范围<span class="span_blue">20.00~24.00</span>元
                                </div>
                            </div>
                            <div class="clearfloat"></div>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                    </div>
                    <!--内容部分 end-->
                    <div class="content_info">
                        Copyright © 2015 ffan.com All Rights Reserved 上海新飞凡电子商务有限公司版权所有 沪ICP备08114786 许可证 : 沪B2-20150088
                    </div>
                    <div class="clearfloat"></div>

                </div>
                </div>
                <!--主要内容 end-->
                <div class="clearfloat"></div>
            </div>
        </div>
        <!--内容部分 end-->
        <!--底部 start-->
        <!--<div class="footer"></div>-->
        <!--底部 end-->
    </div>

</div>
<div class="tc_bg" id="bgdiv" >
    <div class="popup">
        <!--第一个弹出框-->
        <div class="popup_title">地域设定</div>
        <div class="popup_content">
            <div class="content_m_info">
                <div class="module">
                    <div class="module_l">沿海地区</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button></div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="popup_content_info">
                        <button class="popup_operation_orange">北京市</button>
                        <button class="button_operation_blue">天津市</button>
                        <button class="button_operation_blue">河北市</button>
                        <button class="button_operation_blue">辽宁市</button>
                        <div class="clearfloat"></div>
                        <button class="button_operation_blue">上海市</button>
                        <button class="button_operation_blue">江苏省</button>
                        <button class="button_operation_blue">浙江省</button>
                        <button class="button_operation_blue">福建省</button>
                        <div class="clearfloat"></div>
                        <button class="button_operation_blue">山东省</button>
                        <button class="button_operation_blue">广东省</button>
                        <button class="button_operation_blue">海南省</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">中部地区</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">西部地区</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">港澳台</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">中部地区</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">西部地区</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">港澳台</div>
                    <div class="module_c">
                        <button class="button_operation_colour">全部</button>
                        <button class="button_operation_blue">具体选择</button>
                    </div>
                    <div class="clearfloat"></div>
                </div>
            </div>
            <div class="select_region_top" >
                <div class="select_region_title">已选地区</div>
            </div>
            <div class="select_region_info" >
                <div class="module">
                    <div class="module_l">沿海地区</div>
                    <div class="clearfloat"></div>
                </div>
                <div class="module">
                    <div class="module_l">北京市</div>
                    <div class="module_info">
                        <div class="message">石景山万达广场</div>
                        <div class="message">通州万达广场</div>
                        <div class="clearfloat"></div>
                        <div class="message">玄武区</div>
                        <div class="message">朝阳区</div>
                        <div class="message">丰台区</div>
                        <div class="clearfloat"></div>
                        <div class="message">石景山区</div>
                        <div class="message">海淀区</div>
                        <div class="message">门头沟区</div>
                        <div class="clearfloat"></div>
                        <div class="message">房山区</div>
                        <div class="message">通州区</div>
                        <div class="message">顺义区</div>
                        <div class="clearfloat"></div>
                        <div class="message">昌平区</div>
                        <div class="message">大兴区</div>
                        <div class="message">怀柔区</div>
                        <div class="clearfloat"></div>
                        <div class="message">平谷区</div>
                        <div class="message">密云县</div>
                        <div class="message">延庆县</div>
                    </div>
                    <div class="module_l">天津市</div>
                    <div class="module_info">
                        <div class="message">和平区</div>
                        <div class="message">河东区</div>
                        <div class="message">河西区</div>
                        <div class="clearfloat"></div>
                        <div class="message">南开区</div>
                        <div class="message">河北区</div>
                        <div class="message">红桥区</div>
                        <div class="clearfloat"></div>
                        <div class="message">塘沽区</div>
                        <div class="message">汉沽区</div>
                        <div class="message">大港区</div>
                        <div class="clearfloat"></div>
                        <div class="message">东丽区</div>
                        <div class="message">西青区</div>
                        <div class="message">津南区</div>
                        <div class="clearfloat"></div>
                        <div class="message">北辰区</div>
                        <div class="message">武清区</div>
                        <div class="message">宝坻区</div>
                        <div class="clearfloat"></div>
                        <div class="message">宁河县</div>
                        <div class="message">静海县</div>
                        <div class="message">蓟县</div>
                    </div>
                    <div class="clearfloat"></div>
                    <div class="module_l">河北省</div>
                    <div class="module_info">
                        <div class="message">石家庄市</div>
                        <div class="message">唐山市</div>
                        <div class="message">秦皇岛市</div>
                        <div class="clearfloat"></div>
                        <div class="message">邯郸市</div>
                        <div class="message">邢台市</div>
                        <div class="message">保定市</div>
                        <div class="clearfloat"></div>
                        <div class="message">张家口市</div>
                        <div class="message">承德市</div>
                        <div class="message">保定市</div>
                        <div class="clearfloat"></div>
                        <div class="message">张家口市</div>
                        <div class="message">承德市</div>
                        <div class="message">沧州市</div>
                        <div class="clearfloat"></div>
                        <div class="message">廊坊市</div>
                        <div class="message">衡水市</div>
                    </div>
                    <div class="clearfloat"></div>
                    <div class="module_l">辽宁省</div>
                    <div class="module_info">
                        <div class="message">沈阳市</div>
                        <div class="message">大连市</div>
                        <div class="message">鞍山市</div>
                        <div class="clearfloat"></div>
                        <div class="message">抚顺市</div>
                        <div class="message">本溪市</div>
                        <div class="message">丹东市</div>
                        <div class="clearfloat"></div>
                        <div class="message">锦州市</div>
                        <div class="message">营口市</div>
                        <div class="message">阜新市</div>
                        <div class="clearfloat"></div>
                        <div class="message">辽阳市</div>
                        <div class="message">盘锦市</div>
                        <div class="message">铁岭市</div>
                        <div class="clearfloat"></div>
                        <div class="message">朝阳市</div>
                        <div class="message">葫芦岛市</div>
                    </div>
                </div>
                <div class="select_region_bottom" >
                    <div class="popup_bottom_message">已选择<span class="span_red">1</span>个广场，每日费用<span class="span_red">¥2000</span></div>
                </div>
            </div>
            <div class="clearfloat"></div>
        </div>
        <div class="clearfloat"></div>
        <div class="popup_button">
            <button class="popup_button_blue" onclick = "submitpass();">确定</button>
            <button class="popup_button_colour" onclick = "cancelpass();">取消</button>
        </div>
    </div>
</div>
<div class="tc_bg" id="timediv" >
    <div class="popup_time">
        <!--第二个弹出框-->
        <div class="popup_title">时间设定</div>
        <div class="popup_time_content">
            <div class="content_m_info">
                <div class="module">
                    <div >点击方格即可选中或取消时间点，点击拖动方格即可选中或取消某一连续时间段</div>
                    <table border="0" cellspacing="1" class="table-style">
                        <tr>
                            <td rowspan="2" class="td_orange">
                                全选
                            </td >
                            <td colspan="7">
                               凌晨时段
                            </td>
                            <td colspan="4">
                                上午时段
                            </td>
                            <td colspan="5">
                                中午时段
                            </td>
                            <td colspan="4">
                                下午时段
                            </td>
                            <td colspan="5">
                                夜晚时段
                            </td>

                        </tr>
                        <tr class="td_time">
                            <td>0</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>2</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                        </tr>
                        <tr>
                            <td>星期一</td>
                            <td class="td_b_pink"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="td_b_pink"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>星期二</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="td_b_orange"></td>
                            <td class="td_b_orange"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="td_b_orange"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>星期三</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  class="td_b_yellow"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>星期四</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="td_b_green"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>星期五</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="td_b_blue"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>星期六</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="td_b_darkgreen"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>星期日</td>
                            <td></td>
                            <td></td>
                            <td class="td_b_purple"></td>
                            <td></td>
                            <td class="td_b_purple"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfloat"></div>
        </div>
        <div class="clearfloat"></div>
        <div class="popup_button">
            <button class="popup_button_blue" onclick = "timesubmitpass();">确定</button>
            <button class="popup_button_colour" onclick = "timecancelpass();">取消</button>
        </div>
    </div>
</div>
<script>
    function timepopup(){
        var div=document.getElementById("timediv");
        div.style.display="block";
    }
    function timesubmitpass(){
        var div=document.getElementById("timediv");
        div.style.display="none";
    }
    function timecancelpass(){
        var div=document.getElementById("timediv");
        div.style.display="none";
    }
    function popup(){
        var div=document.getElementById("bgdiv");
        div.style.display="block";
    }
    function submitpass(){
        var div=document.getElementById("bgdiv");
        div.style.display="none";
    }
    function cancelpass(){
        var div=document.getElementById("bgdiv");
        div.style.display="none";
    }
</script>
</body>
</html>

<body>

</body>
</html>