<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/log.css" rel="stylesheet" type="text/css" />
	<link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
	<link href="../../CRM/css/recharge.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">

    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
                <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
                <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="body-right">
                <div class="account-info" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >充值管理</div>
                </div>
                <div class="title" >
					<div class="date">
					<span>充值日期</span>
						<select>
							<option value="1">2016-1-26</option>
						</select>
						&nbsp;&nbsp;至
						<select>
							<option value="1">2016-1-26</option>
						</select>
					</div>
					<div class="title-element">
						<span>登录邮箱</span>
						<div class="input_box">
							<input type="text"></div>
					</div>
					<div class="title-element">
						<span>操作人员</span>
						<div class="input_box">
							<input type="text"></div>
					</div>
                    <div class="title-element">
						<span>充值单号</span>
						<div class="input_box">
							<input type="text"></div>
					</div>
					<div class="date">
					<span>充值日期</span>
						<select>
							<option value="1">已申请发票</option>
							<option value="2">开票中</option>
							<option value="3">未申请发票</option>
							<option value="4">已寄出发票</option>
							<option value="5">已撤销</option>
						</select>
					</div>
					<button class="button_use">查询</button>
                </div>
                <table border="1" cellspacing="0" class="table-style">
                    <tr class="tr-a" >
                        <td class="td-a">充值单号</td>
                        <td class="td-a">登录邮箱</td>
                        <td class="td-a">公司名称</td>
                        <td class="td-b">充值时间</td>
                        <td class="td-a">实收金额<br/>（￥）</td>
                        <td class="td-a">面额<br/>（￥）</td>
						<td class="td-a">操作人员</td>
						<td class="td-a">状态</td>
						<td class="td-a">操作</td>
                    </tr>
                    <tr class="tr-b">
                        <td class="td-a">1000000001</td>
                        <td class="td-a">haha@126.com</td>
                        <td class="td-a">贝亲</td>
                        <td class="td-a">2016-1-26<br/>10:44</td>
                        <td class="td-a">80000</td>
                        <td class="td-a">100000</td>
						<td class="td-a" >vivako</td>
						<td class="td-a" >已申请发票</td>
						<td class="td-a" ><button class="button_operation_blue">确认信息</button><button class="button_operation_colour" onclick = "popup();">撤销充值</button></td>
                    </tr>
                    <tr class="tr-c">
                        <td class="td-a">1000000002</td>
                        <td class="td-a">wanshiwu@sina.cn</td>
                        <td class="td-a">加州宝贝</td>
                        <td class="td-a">2016-1-26<br/>10:44</td>
                        <td class="td-a">100000</td>
                        <td class="td-a">200000</td>
						<td class="td-a" >theo</td>
						<td class="td-a" >开票中</td>
						<td class="td-a" ><button class="button_operation_blue">寄出发票</button><button class="button_operation_colour" onclick = "popup();">撤销充值</button></td>
                    </tr>
                   <tr class="tr-d">
                        <td class="td-a">1000000003</td>
                        <td class="td-a">wanshiwu@sina.cn</td>
                        <td class="td-a">加州宝贝</td>
                        <td class="td-b">2016-1-26<br/>10:44</td>
                        <td class="td-a">100000</td>
                        <td class="td-a">200000</td>
						<td class="td-a" >theo</td>
						<td class="td-a" >未申请发票</td>
						<td class="td-a" ><button class="button_operation_colour" onclick = "popup();">撤销充值</button></td>
                    </tr>
					<tr class="tr-b">
                        <td class="td-a">1000000002</td>
                        <td class="td-a">wanshiwu@sina.cn</td>
                        <td class="td-a">加州宝贝</td>
                        <td class="td-b">2016-1-26<br/>10:44</td>
                        <td class="td-a">100000</td>
                        <td class="td-a">200000</td>
						<td class="td-a" >theo</td>
						<td class="td-a" >已寄出发票</td>
						<td class="td-a" >发票信息</td>
                    </tr>
                   <tr class="tr-c">
                        <td class="td-a">1000000003</td>
                        <td class="td-a">wanshiwu@sina.cn</td>
                        <td class="td-a">加州宝贝</td>
                        <td class="td-b">2016-1-26<br/>10:44</td>
                        <td class="td-a">100000</td>
                        <td class="td-a">200000</td>
						<td class="td-a" >theo</td>
						<td class="td-a" >已撤销</td>
						<td class="td-a" ></td>
                    </tr>
                </table>
                <div class="sanjiao_element">
                    <div class="left-sanjiao" >
                        <img src="../../CRM/img/left.png" />
                    </div>
                    <div class="dijiye" >2  /  4</div>
                    <div class="right-sanjiao">
                        <img src="../../CRM/img/right-01.png" style=""/>
                    </div>
                    <div class="text-box" ></div>
                    <button class="button-next">跳转</button>
                </div>
            </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="footer"></div>-->
    <!--底部 end-->
</div>
<div class="tc_bg" id="bgdiv"  style="display:none">
	<div class="popup">
	<!--第一个弹出框-->
	<div class="popup_title">撤销充值</div>
	<div class="popup_content">从客户帐户余额中扣除本次充值的￥10000元</div>
	<div class="popup_button">
		<button class="popup_button_blue" onclick = "submitpass();">确定</button>
		<button class="popup_button_colour" onclick = "cancelpass();">取消</button>
	</div>
	</div>
</div>
<script>
function popup(){
	var div=document.getElementById("bgdiv");
	div.style.display="block";
}
function submitpass(){
	var div=document.getElementById("bgdiv");
	div.style.display="none";
}
function cancelpass(){
	var div=document.getElementById("bgdiv");
	div.style.display="none";
}
</script>
</body>
</html>
