<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/log.css" rel="stylesheet" type="text/css" />
	<link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
	<link href="../../CRM/css/recharge.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="body-right">
                <div class="account-info" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >充值管理</div>
                </div>

                <div class="title" >
                    <div class="title-font">
						<span>公司名称</span>
						<div class="chuangyi-font">
							<input type="text"></div>
					</div>
					<div class="title-font">
						<span>登录邮箱</span>
						<div class="chuangyi-font">
							<input type="text"></div>
					</div>
                    <button class="button_7 m_top_5 m_left_20">查询</button>
                </div>
                <table border="1" cellspacing="0" class="table-style">
                    <tr class="tr-a" >
                        <td class="td-a">用户ID</td>
                        <td class="td-a">公司名称</td>
                        <td class="td-a">手机号</td>
                        <td class="td-b">邮箱</td>
                        <td class="td-a">余额</td>
                        <td class="td-a">状态</td>
						<td class="td-a">操作</td>
                    </tr>
                    <tr class="tr-b">
                        <td class="td-a">59423</td>
                        <td class="td-a">贝亲</td>
                        <td class="td-a">13806151452</td>
                        <td class="td-a">13806151452@139.com</td>
                        <td class="td-a">4332.00</td>
                        <td class="td-a" style="color:#0F0" >正常</td>
						<td class="td-a" ><button onclick = "popup();">充值</button></td>
                    </tr>
                    <tr class="tr-c">
                        <td class="td-a">59423</td>
                        <td class="td-a">贝亲</td>
                        <td class="td-a">13806151452</td>
                        <td class="td-a">13806151452@139.com</td>
                        <td class="td-a">4332.00</td>
                        <td class="td-a" style="color:#0F0" >正常</td>
						<td class="td-a" ><button onclick = "popup();">充值</button></td>
                    </tr>
                   <tr class="tr-d">
                        <td class="td-a">59423</td>
                        <td class="td-a">贝亲</td>
                        <td class="td-a">13806151452</td>
                        <td class="td-a">13806151452@139.com</td>
                        <td class="td-a">4332.00</td>
                        <td class="td-a" style="color:#0F0" >正常</td>
						<td class="td-a" ><button onclick = "popup();">充值</button></td>
                    </tr>
                </table>
                <div class="sanjiao_element">
                    <div class="left-sanjiao" >
                        <img src="../../CRM/img/left.png" />
                    </div>
                    <div class="dijiye" >2  /  4</div>
                    <div class="right-sanjiao">
                        <img src="../../CRM/img/right-01.png" style=""/>
                    </div>
                    <div class="text-box" ></div>
                    <button class="button-next">跳转</button>
                </div>
            </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="footer"></div>-->
    <!--底部 end-->
	<div class="tc_bg" id="bgdiv" style="display:none">
		<div class="popup" style="height: 180px; width: 330px;">
		<!--第一个弹出框-->
		<div class="popup_input">
			<div class="popup_txt">面额：</div>
			<input type="text"/>
		</div>
		<div class="popup_input">
			<div class="popup_txt">实收金额：</div>
			<input type="text"/>
		</div>
		<div class="popup_button">
			<button class="popup_button_blue" onclick = "submitpass();">确定</button>
			<button class="popup_button_colour" onclick = "cancelpass();">取消</button>
		</div>
		</div>
	</div>
</div>
<script>
function popup(){
	var div=document.getElementById("bgdiv");
	div.style.display="block";
}
function submitpass(){
	var div=document.getElementById("bgdiv");
	div.style.display="none";
}
function cancelpass(){
	var div=document.getElementById("bgdiv");
	div.style.display="none";
}
</script>
</body>
</html>
