<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资源审核定价</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/log.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/review.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="body-right">
                <div class="account-info" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >资源审核定价</div>
                </div>
                <div class="title" >
                    <div class="date-element">
                        <span>资源位类型</span>
                        <select>
                            <option value="1">2016-1-26</option>
                        </select>
                    </div>
                    <div class="date-element-t">
                        <span>资源属性</span>
                        <select>
                            <option value="1">飞凡</option>
                            <option value="2">开票中</option>
                            <option value="3">未申请发票</option>
                            <option value="4">已寄出发票</option>
                            <option value="5">已撤销</option>
                        </select>
                        <select>
                            <option value="1">app</option>
                            <option value="2">开票中</option>
                            <option value="3">未申请发票</option>
                            <option value="4">已寄出发票</option>
                            <option value="5">已撤销</option>
                        </select>
                        <select>
                            <option value="1">飞凡app</option>
                            <option value="2">开票中</option>
                            <option value="3">未申请发票</option>
                            <option value="4">已寄出发票</option>
                            <option value="5">已撤销</option>
                        </select>
                    </div>
                    <div class="title-element">
                        <span>资源ID</span>
                        <div class="input_box">
                            <input type="text"></div>
                    </div>
                    <div class="title-element">
                        <span>资源位名称</span>
                        <div class="input_box">
                            <input type="text"></div>
                    </div>
                    <div class="title-element">
                        <span>用户邮箱</span>
                        <div class="input_box">
                            <input type="text"></div>
                    </div>
                    <div class="title-element">
                        <span>充值单号</span>
                        <div class="input_box">
                            <input type="text"></div>
                    </div>
                    <div class="date-element">
                        <span>资源位状态</span>
                        <select>
                            <option value="1">2016-1-26</option>
                        </select>
                    </div>
                    <div class="date-element-time">
                        <span>创建时间</span>
                        <select>
                            <option value="1">2016-1-26</option>
                        </select>
                        &nbsp;&nbsp;至
                        <select>
                            <option value="1">2016-1-26</option>
                        </select>
                    </div>
                    <button class="button_use">查询</button>
                </div>
                <table border="1" cellspacing="0" class="table-ele">
                    <tr class="tr-a" >
                        <td class="td-a">序号</td>
                        <td class="td-a">资源ID</td>
                        <td class="td-a">资源名称</td>
                        <td class="td-b">所属产品</td>
                        <td class="td-a">资源类型</td>
                        <td class="td-a">规格</td>
                        <td class="td-a">支持出价类型</td>
                        <td class="td-a">开启状态</td>
                        <td class="td-a">资源状态</td>
                        <td class="td-a">创建时间</td>
                        <td class="td-a">操作</td>
                        <td class="td-a">用户邮箱</td>
                        <td class="td-a">定价（元）</td>
                        <td class="td-a">审核</td>
                    </tr>
                    <tr class="tr-b">
                        <td class="td-a">1</td>
                        <td class="td-a">24546454486</td>
                        <td class="td-a">飞凡ios插屏广告</td>
                        <td class="td-a">飞凡ios</td>
                        <td class="td-a">图片轮播</td>
                        <td class="td-a">默认</td>
                        <td class="td-a" >RTB</td>
                        <td class="td-a" >
                            <img src="../../CRM/img/on-nov.png"/>
                            <img src="../../CRM/img/off-nov.png"/>
                        </td>
                        <td class="td-a" >待审核</td>
                        <td class="td-a" >2015-11-30</td>
                        <td class="td-a" >数据>></td>
                        <td class="td-a" >fhsbjbb@wanda.com</td>
                        <td class="td-a" >cpm=<span><input class="input_2" value="2"/></span>
                            <br>cpc=<span><input class="input_2" value="2"/></span><img src="../../CRM/img/record-icon.png"/>
                            <button class="button_operation_blue">保存</button>
                        </td>
                        <td class="td-a" >
                            <button class="button_operation_blue">通过</button>
                            <button class="button_operation_colour">驳回</button>
                        </td>
                    </tr>
                    <tr class="tr-c">
                        <td class="td-a">1</td>
                        <td class="td-a">24546454486</td>
                        <td class="td-a">飞凡ios插屏广告</td>
                        <td class="td-a">飞凡ios</td>
                        <td class="td-a">图片轮播</td>
                        <td class="td-a">默认</td>
                        <td class="td-a" >RTB</td>
                        <td class="td-a" >
                            <img src="../../CRM/img/on-nov.png"/>
                            <img src="../../CRM/img/off-nov.png"/>
                        </td>
                        <td class="td-a" >待审核</td>
                        <td class="td-a" >2015-11-30</td>
                        <td class="td-a" >数据>></td>
                        <td class="td-a" >fhsbjbb@wanda.com</td>
                        <td class="td-a" >cpm=<span><input class="input_2" value="2"/></span>
                            <br>cpc=<span><input class="input_2" value="2"/></span><img src="../../CRM/img/record-icon.png"/>
                            <button class="button_operation_blue">保存</button>
                        </td>
                        <td class="td-a" >
                            <button class="button_operation_blue">通过</button>
                            <button class="button_operation_colour">驳回</button>
                        </td>
                    </tr>
                    <tr class="tr-d">
                        <td class="td-a">1</td>
                        <td class="td-a">24546454486</td>
                        <td class="td-a">飞凡ios插屏广告</td>
                        <td class="td-a">飞凡ios</td>
                        <td class="td-a">图片轮播</td>
                        <td class="td-a">默认</td>
                        <td class="td-a" >RTB</td>
                        <td class="td-a" >
                            <img src="../../CRM/img/on-nov.png"/>
                            <img src="../../CRM/img/off-nov.png"/>
                        </td>
                        <td class="td-a" >待审核</td>
                        <td class="td-a" >2015-11-30</td>
                        <td class="td-a" >数据>></td>
                        <td class="td-a" >fhsbjbb@wanda.com</td>
                        <td class="td-a" ><a href="">修改独占价格</a></td>
                        <td class="td-a" >
                            <button class="button_operation_blue">通过</button>
                            <button class="button_operation_colour">驳回</button>
                        </td>
                    </tr>
                </table>
                <div class="sanjiao_element">
                    <div class="left-sanjiao" >
                        <img src="../../CRM/img/left.png" />
                    </div>
                    <div class="dijiye" >2  /  4</div>
                    <div class="right-sanjiao">
                        <img src="../../CRM/img/right-01.png"/>
                    </div>
                    <div class="text-box" ></div>
                    <button class="button-next">跳转</button>
                </div>
            </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="footer"></div>-->
    <!--底部 end-->
</div>


<!--驳回理由弹出框-->
<!--<div class="popup_1">-->
    <!--<div class="popup_title">驳回理由</div>-->
    <!--<div class="popup_content"><textarea style="width:300px;height:100px;"></textarea></div>-->
    <!--<div class="popup_button_1">-->
        <!--<button class="popup_button_colour" onclick = "cancelpass();">取消</button>-->
    <!--</div>-->
<!--</div>-->


<!--修改独占价格弹出框-->
<!--<div class="popup_1" style="width:1000px;height:auto;">-->
    <!--<table border="1"  cellpadding="0"  class="table-element">-->
        <!--<tr class="tr-a" >-->
            <!--<td class="td-a">地区</td>-->
            <!--<td class="td-a">省/直辖市</td>-->
            <!--<td class="td-a">市/区</td>-->
            <!--<td class="td-b" >独占费（元/天）</td>-->
        <!--</tr>-->
        <!--<tr class="tr-b" >-->
            <!--<td class="td-a">沿海地区</td>-->
            <!--<td class="td-a">北京</td>-->
            <!--<td class="td-a">朝阳区</td>-->
            <!--<td class="td-b td_pos" ><input class="input_1" value="2000"/></td>-->
        <!--</tr>-->
        <!--<tr class="tr-b" >-->
            <!--<td class="td-a"></td>-->
            <!--<td class="td-a"></td>-->
            <!--<td class="td-a">东城区</td>-->
            <!--<td class="td-b td_pos" ><input class="input_1" value="2000"/><span class="main_span_3">设为省/直辖市价格</span></td>-->
        <!--</tr>-->
        <!--<tr class="tr-b" >-->
            <!--<td class="td-a"></td>-->
            <!--<td class="td-a">河北</td>-->
            <!--<td class="td-a">廊坊</td>-->
            <!--<td class="td-b td_pos"><input class="input_1" value="2000"/></td>-->
        <!--</tr>-->
        <!--<tr class="tr-b" >-->
            <!--<td class="td-a">中部地区</td>-->
            <!--<td class="td-a"></td>-->
            <!--<td class="td-a"></td>-->
            <!--<td class="td-b td_pos"></td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--&lt;!&ndash;<div class="popup_title">驳回理由</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="popup_content"><textarea style="width:300px;height:100px;"></textarea></div>&ndash;&gt;-->
    <!--<div class="popup_button_2">-->
        <!--<button class="popup_button_colour" onclick = "cancelpass();">取消</button>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>
