<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>飞凡CRM管理系统</title>
    <link href="../../CRM/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/log.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/idea.css" rel="stylesheet" type="text/css" />
    <link href="../../CRM/css/review.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../CRM/css/z_tree/demo.css" type="text/css">
    <link rel="stylesheet" href="../../CRM/css/z_tree/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../CRM/js/z_tree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../CRM/js/nav.js"></script>
</head>

<body>
<div class="net_container">
    <!--顶部logo start-->
    <div class="net_header"><img src="../../CRM/img/crm-logo.png" /></div>
    <!--顶部logo end-->
    <!--顶部menu start-->
    <!--<div class="menu">This is the Menu</div>-->
    <!--顶部menu end-->
    <!--内容部分 start-->
    <div class="net_mainContent">
        <!--左侧导航 start-->
        <div class="net_sidebar">
            <div class="net_font" >Dashboard</div>
            <!--<div class="sidebar_b">-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/data-icon.png" />数据中心</div>-->
            <!--<div class="sidebar_btn_on"><img src="../../CRM/img/originality-icon-c.png" width="17" />创意</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/cast-icon.png" />投放</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/money-icon.png" />财务</div>-->
            <!--<div class="sidebar_btn"><img src="../../CRM/img/off-icon.png" />退出</div>-->
            <!--</div>-->
            <div class="zTreeDemoBackground left">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>
        <!--左侧导航 end-->
        <!--主要内容 start-->
        <div class="content_bg">
            <div class="body-right">
                <div class="account-info-back" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >查询条件</div>
                </div>

                <div class="title" >
                    <div class="user">
                        <span>用户姓名:</span>
                        <input type="text"/>
                    </div>
                    <div class="user">
                        <span >手机号码:</span>
                        <input type="text"/>
                    </div>
                    <div class="user">
                        <span >邮箱名称:</span>
                        <input type="text"/>
                    </div>
                    <div class="date">
                        <span >状态:</span>
                        <select>
                            <option value ="1">全部</option>
                        </select>
                    </div>
                    <div class="date">
                        <span >用户类型:</span>
                        <select>
                            <option value ="1">全部</option>
                        </select>
                        <select>
                            <option value ="1">全部</option>
                        </select>
                    </div>
                    <div class="user">
                        <span >注册时间:</span>
                        <input type="text"/>&nbsp;&nbsp;&nbsp;-
                    </div>
                    <div class="user" style="float:left">
                        <input type="text"/>
                    </div>
                    <div style="padding-top:85px;">
                        <button class="button_2">查询</button>
                    </div>
                </div>

                <div class="account-info-backt" >
                    <div class="account-info-border" ></div>
                    <div class="account-info-font" >用户列表</div>
                </div>
                <table border="1" cellspacing="0" class="table-style-roll">
                    <tr class="tr-a" >
                        <td class="td-a">ID</td>
                        <td class="td-b">姓名</td>
                        <td class="td-f">公司姓名</td>
                        <td class="td-f">手机号</td>
                        <td class="td-o">用户类型</td>
                        <td class="td-f">邮箱</td>
                        <td class="td-a">分成</td>
                        <td class="td-a">余额</td>
                        <td class="td-a">状态</td>
                        <td class="td-f">注册时间</td>
                        <td class="td-z">操作</td>
                    </tr>
                    <tr class="tr-b">
                        <td class="td-a">59423</td>
                        <td class="td-b">徐燕</td>
                        <td class="td-f">贝亲</td>
                        <td class="td-f">13806151452</td>
                        <td class="td-o">SSP-联盟用户</td>
                        <td class="td-f" >vivako@sina.cn</td>
                        <td class="td-a">25%</td>
                        <td class="td-a">23</td>
                        <td class="td-a">正常</td>
                        <td class="td-f">2015-11-23 17:37:23</td>
                        <td class="td-f">
                            <button class="button_6" style="padding:0px" onclick = "popup();">冻结</button>
                            <button class="button_6" style="padding:0px">重置密码</button>
                            <button class="button_6" style="padding:0px">编辑信息</button>
                            <button class="button_6" style="padding:0px">调整分成</button>
                        </td>
                    </tr>
                    <tr class="tr-c">
                        <td class="td-a">59423</td>
                        <td class="td-b">徐燕</td>
                        <td class="td-f">贝亲</td>
                        <td class="td-f">13806151452</td>
                        <td class="td-f">SSP-联盟用户</td>
                        <td class="td-f" >vivako@sina.cn</td>
                        <td class="td-f">25%</td>
                        <td class="td-f">23</td>
                        <td class="td-f">正常</td>
                        <td class="td-f">2015-11-23 17:37:23</td>
                        <td class="td-f">
                            <button class="button_6" style="padding:0px">冻结</button>
                            <button class="button_6" style="padding:0px">重置密码</button>
                            <button class="button_6" style="padding:0px">编辑信息</button>
                            <button class="button_6" style="padding:0px">调整分成</button>
                        </td>
                    </tr>
                    <tr class="tr-d">
                        <td class="td-a">59423</td>
                        <td class="td-b">徐燕</td>
                        <td class="td-f">贝亲</td>
                        <td class="td-f">13806151452</td>
                        <td class="td-f">SSP-联盟用户</td>
                        <td class="td-f" >vivako@sina.cn</td>
                        <td class="td-f">25%</td>
                        <td class="td-f">23</td>
                        <td class="td-f">正常</td>
                        <td class="td-f">2015-11-23 17:37:23</td>
                        <td class="td-f">
                            <button class="button_6" style="padding:0px">冻结</button>
                            <button class="button_6" style="padding:0px">重置密码</button>
                            <button class="button_6" style="padding:0px">编辑信息</button>
                            <button class="button_6" style="padding:0px">调整分成</button>
                        </td>
                    </tr>
                    <tr class="tr-e">
                        <td class="td-a">59423</td>
                        <td class="td-b">徐燕</td>
                        <td class="td-f">贝亲</td>
                        <td class="td-f">13806151452</td>
                        <td class="td-f">SSP-联盟用户</td>
                        <td class="td-f" >vivako@sina.cn</td>
                        <td class="td-f">25%</td>
                        <td class="td-f">23</td>
                        <td class="td-f">正常</td>
                        <td class="td-f">2015-11-23 17:37:23</td>
                        <td class="td-f">
                            <button class="button_6">冻结</button>
                            <button class="button_6">重置密码</button>
                            <button class="button_6">编辑信息</button>
                            <button class="button_6">调整分成</button>
                        </td>
                    </tr>
                </table>
                <div class="left-sanjiao" >
                    <img src="../../toufang/img/left.png" />
                </div>
                <div class="dijiye" >2  /  4</div>
                <div class="right-sanjiao">
                    <img src="../../toufang/img/right-01.png" style=""/>
                </div>
                <div class="text-box" ></div>
                <button class="button-next">跳转</button>
        </div>
            <!--主要内容 end-->
            <div class="clearfloat"></div>
        </div>
    </div>
    <!--内容部分 end-->
    <!--底部 start-->
    <!--<div class="footer"></div>-->
    <!--底部 end-->
    <div class="tc_bg" id="bgdiv" style="display:none">
        <div class="popup" style="height: 200px; width: 400px;">
            <!--第一个弹出框-->
            <table class="popup_input">
                <tr>
                    <td class="popup_txt">密码</td>
                    <td ><input type="text"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="main_span_1">123456789</td>
                </tr>
                <tr>
                    <td class="popup_txt">确认密码</td>
                    <td ><input type="text"/></td>
                </tr>
            </table>
            <div class="popup_button">
                <button class="popup_button_blue" onclick = "submitpass();">确定</button>
                <button class="popup_button_colour" onclick = "cancelpass();">取消</button>
            </div>
        </div>
    </div>
    <!--第二个弹出框-->
    <!--<div class="tc_bg" id="bgdiv" style="display:none">-->
        <!--<div class="popup" style="height: 280px; width: 400px;">-->
            <!--&lt;!&ndash;第一个弹出框&ndash;&gt;-->
            <!--<table class="popup_input">-->
                <!--<tr>-->
                    <!--<td class="popup_txt">姓名</td>-->
                    <!--<td ><input type="text"/></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td class="main_span_1">123456789</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="popup_txt">电话</td>-->
                    <!--<td ><input type="text"/></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td class="main_span_1">123456789</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="popup_txt">公司名称</td>-->
                    <!--<td ><input type="text"/></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td class="main_span_1">123456789</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<div class="popup_button">-->
                <!--<button class="popup_button_blue" onclick = "submitpass();">确定</button>-->
                <!--<button class="popup_button_colour" onclick = "cancelpass();">取消</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--第三个弹出框-->
    <!--<div class="tc_bg" id="bgdiv" style="display:none">-->
        <!--<div class="popup" style="height: 180px; width: 400px;">-->
            <!--&lt;!&ndash;第一个弹出框&ndash;&gt;-->
            <!--<table class="popup_input">-->
                <!--<tr>-->
                    <!--<td class="popup_txt">分成</td>-->
                    <!--<td ><input type="text"/></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td class="main_span_1">123456789</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<div class="popup_button">-->
                <!--<button class="popup_button_blue" onclick = "submitpass();">确定</button>-->
                <!--<button class="popup_button_colour" onclick = "cancelpass();">取消</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<script>
    function popup(){
        var div=document.getElementById("bgdiv");
        div.style.display="block";
    }
    function submitpass(){
        var div=document.getElementById("bgdiv");
        div.style.display="none";
    }
    function cancelpass(){
        var div=document.getElementById("bgdiv");
        div.style.display="none";
    }
</script>
</body>
</html>
