.body-style{
    width:1440px;
    height:789px;
    margin:0;
    background-color:#bfbfbf;
    min-width:800px;
    min-height:600px;
}
.login{
    width:1440px;
    height:70px;
    background-color: #00b7ff
}
.login-logo{
    width: 374px;
    height: 63px;
    margin-left: 533px;
    padding-top: 6px;
}
.login-logo img{
    width:100%;
    height:auto;
}
.body-middle{
    width:1440px;
    height:10px;
}
.body-border{
    width: 1209px;
    height: 718px;
    margin-left: 115px;
    background-color: #ffffff;
}
.account-bg{
    width:157px;
    height:718px;
    float:left;
    background-image: url('../images/account-bg.png')
}
.account-bg-border{
    width:149px;
    height:154px;
    /*margin-left:8px;*/
    margin-top:8px;
    border-radius: 5px 1px 1px 5px;
    /*background-color:#ffffff*/
}
.account-bg-border img{
    width:90px;
    height:117px;
    margin-left:30px;
    margin-top:18px;
}
.data-icon{
    width: 150px;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    margin-left: 22px;
}
.data-icon img{
    width: 19px;
    height: 16px;
    margin-left: 12px;
    float: left;
    margin-top: 23px;
}
.data-icon-style{
    color:#ffffff;
    font-size:14px;
    margin-left:9%;
    float:left;
    padding-top:3px
}
.all-icon{
    width: 150px;
    height: 60px;
    margin-top: 3px;
    text-align: center;
    line-height: 60px;
    margin-left: 7px;
}
.all-icon img{
    width: 18px;
    height: 17px;
    float: left;
    margin-left: 26px;
    margin-top: 25px;
}
.all-icon-style{
    color: #ffffff;
    font-size: 14px;
    margin-left: 11px;
    float: left;
    padding-top: 3px;
}
.body-right{
    width:1052px;
    height:auto;
    float:left;
    background-color: #ffffff;
    min-height:718px;
}
.account-info{
    width:800px;
    height:36px;
    margin-top:28px;
}
.account-info button{
    width:119px;
    height:36px;
    background-color: #00b7ff;
    border-radius:3px;
    border:1px solid #00b7ff;
    color:#ffffff;
    font-size:16px;
}
.account-info-border{
    width: 33px;
    height: 22px;
    border-right: 5px solid #00b7ff;
    float: left;
    margin-top: 6px;
}
.account-info-font{
    width:215px;
    /*height:36px;*/
    font-size:20px;
    color:#000000;
    font-weight:bold;
    margin-left:15px;
    margin-top:7px;
    float:left
}
.title{
    width:1000px;
    height:55px;
    margin-top:30px;
    font-size:14px
}
.title-font{
    width:330px;
    margin-left:30px;
    float: left;
    line-height:40px;
}
.title-font span{
    font-weight: bold;
    float:left
}
.chuangyi-font{
    width:242px;
    height:auto;
    float:left;
    margin-left:10px;
}
.chuangyi-font input{
    height:30px;
    width:245px;
    border-radius:2px;
    border:1px solid #cccccc
}
.ziyuan{
    width:212px;
    float: left;
    line-height:40px;
    margin-left:22px;
    font-weight: bold;
    float:left
}
.ziyuan span{
    font-weight: bold;
    float:left
}
.ziyuan select{
    height:30px;
    width:110px;
    border-radius: 2px;
    margin-left:16px;
    border:1px solid #cccccc
}
.zhuangtai{
    width:154px;
    float: left;
    line-height:40px;
    margin-left:22px
}
.zhuangtai span{
    font-weight: bold;
    float:left
}
.zhuangtai select{
    height:30px;
    width:89px;
    border-radius: 2px;
    margin-left:9px;
    border:1px solid #cccccc
}
.find{
    width:59px;
    float: left;
    margin-left:30px;
    margin-top:6px
}
.find button{
    width:80px;
    height:30px;
    background-color: #00b7ff;
    border-radius:3px;
    border:1px solid #00b7ff;
    color:#ffffff;
    font-size:16px;
}
.show-all{
    width:90px;
    float: left;
    margin-left:40px;
    margin-top:6px
}
.show-all button{
    width:80px;
    height:30px;
    background-color: #ffffff;
    border-radius:3px;
    border:1px solid #00b7ff;
    color:#00b7ff;
    font-size:16px;
}
.table-style{
    width:977px;
    height:auto;
    margin-left:30px;
    margin-top:40px;
    text-align:center;
    border:1px solid #e4e4e4
}
.tr-a{
    width:977px;
    height:62px;
    background:#f2f2f4
}
.td-a{
    width:138px;
    height:55px;
    border:0px
}
.td-b{
    width:220px;
    height:100%;
    border:0px
}
.td-c{
    width:100px;
    height:100%;
    border:0px
}
.td-d{
    width:90px;
    height:100%;
    border:0px
}
.td-e{
    width:94px;
    height:100%;
    border:0px
}
.td-f{
    width:212px;
    height:100%;
    border:0px
}
.td-g{
    width:200px;
    height:100%;
    border:0px
}
.tr-b{
    width:977px;
    height:62px;
    background:#ffffff
}
.tr-c{
    width:977px;
    height:62px;
    background:#f4f5f7
}
.td-e-style{
    width:75px;
    height:100%;
    padding-top: 10px;
    border:0px
}
.td-sy{
    width: 100%;
    padding-top: 10px;
    height:39px
}
.td-sy button{
    width:50px;
    height:20px;
    background-color: #00c9b8;
    border-radius:3px;
    border:1px solid #00c9b8;
    color:#ffffff;
    font-size:2px;
}
.td-f-style{
    width:212px;
    height:100%;
    padding-left:5px;
    padding-top: 0px;
    border:0px
}
.td-f-style img{
    width:100%;
    height:auto
}
.td-g-style{
    width:235px;
    height:100%;
    text-align: left;
    padding-top: 0px;
    border:0px
}
.button-one{
    width:60px;
    height:28px;
    background-color: #ffffff;
    border-radius:3px;
    border:1px solid #40cbff;
    color:#40cbff;
    font-size:12px;
}
.button-two{
    width:60px;
    height:28px;
    background-color: #ffffff;
    border-radius:3px;
    border:1px solid #00c9b8;
    color:#00c9b8;
    font-size:12px;
}
.button-three{
    width:60px;
    height:28px;
    background-color: #ffffff;
    border-radius:3px;
    border:1px solid #ff8275;
    color:#ff8275;
    font-size:12px;
}
.button-color{
    background-color: #ff4e5a;
    border-radius:3px;
    border:1px solid #ff4e5a;
    color:#ffffff;
}
.td-sy-style{
    width: 100%;
    padding-top: 10px;
}
.left-sanjiao{
    width:33px;
    height:33px;
    margin-left:668px;
    margin-top:16px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    float:left
}
.left-sanjiao img{
    width:25%;
    height:35%;
    margin-left:12px;
    margin-top:10px
}
.dijiye{
    width:57px;
    height:33px;
    float:left;
    margin-top:22px;
    margin-left:16px
}
.right-sanjiao{
    width:33px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    float:left
}
.right-sanjiao img{
    width:25%;
    height:35%;
    margin-left:12px;
    margin-top:10px
}
.text-box{
    width:80px;
    height:33px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    margin-top:16px;
    margin-left:16px;
    float:left
}
.button-next{
    width:83px;
    height:33px;
    margin-left:15px;
    margin-top:16px;
    float:left;
    border-radius: 2px;
    border:1px solid #e6e6e6;
    color:#67ccff;
    background-color:#ffffff;
    font-size:16px
}
.chuangyi-style{
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius: 2px;
}
.data-icon-font{
    color:#67ccff;
}
.date{
    width:350px;
    float: left;
    line-height:40px;
    margin-left:22px;
    font-weight: bold;
    float:left
}
.date span{
    font-weight: bold;
    float:left
}
.date select{
    height:30px;
    width:110px;
    border-radius: 2px;
    margin-left:16px;
    border:1px solid #cccccc
}
.user{
    width:280px;
    float: left;
    line-height:40px;
    margin-left:22px
}
.user span{
    font-weight: bold;
    float:left
}
.user input{
    height:30px;
    width:180px;
    border-radius: 2px;
    margin-left:9px;
    border:1px solid #cccccc
}



