.content_m_info { float:left;}
.content_m_info .module { width:100%; margin-top:30px; line-height:30px;}
.content_m_info .module .module_l {
    float:left;
    width:90px;
    height:30px;
    line-height:30px;
    font-size:14px;
    font-weight:bold;
}
.content_m_info .module .module_c { float:left;}
.content_m_info .module .module_c .input_1 {
    width:350px;
    height:30px;
    border:1px solid #e6e6e6;
    border-radius:2px;
}
.content_m_info .module .module_c .input_1:focus {
	webkit-box-shadow: 0 0 5px #00b7ff;
    -moz-box-shadow: 0 0 5px #00b7ff;
    box-shadow: 0 0 5px #00b7ff;
    border-color: #00b7ff;
    outline: 0;
}
.content_m_info .module .module_c .input_2 {
    width:235px;
    height:26px;
    border:1px solid #e6e6e6;
    margin-right:20px;
}
.content_m_info .module .module_c .input_3 {
    width:120px;
    height:26px;
    border:1px solid #e6e6e6;
    margin-right:20px;
}
.content_m_info .module .module_c .input_4 {
    width:350px;
    height:26px;
    border:1px solid #ff0000;
}
.content_m_info .module .module_c .input_5 {
    width:70px;
    height:26px;
    border:1px solid #e6e6e6;
    margin-right:20px;
    line-height:26px;
}
.content_m_info .module .module_c .input_6 {
    width:120px;
    height:30px;
    border:1px solid #e6e6e6;
    margin-right:10px;
    margin-left:10px;
    border-radius:2px;
    padding-left: 6px;
}
.content_m_info .module .module_c .input_6:focus {
	webkit-box-shadow: 0 0 5px #00b7ff;
    -moz-box-shadow: 0 0 5px #00b7ff;
    box-shadow: 0 0 5px #00b7ff;
    border-color: #00b7ff;
    outline: 0;
}
.content_m_info .module .module_c .input_2_up {
    width:235px;
    height:26px;
    border:1px solid #e6e6e6;
    margin-right:20px;
    background-color:#00b9ff;
    text-align:center;
}
.content_m_info .module .module_c .select_l {
    width:352px;
    height:30px;
    border:1px solid #e6e6e6;
}
.content_m_info .module .module_c .select_s {
    width:110px;
    height:30px;
    border:1px solid #e6e6e6;
    border-radius:2px;
}
.content_m_info .module .module_c .module_c_info {
    width:340px;
    height:60px;
    margin-top:5px;
    font-size:12px;
    color:#999999;
    border:1px solid #dfdfdf;
    background:#f7f7f7;
    line-height:30px;
    padding:5px;
    overflow:hidden;
}
.content_m_info .module .module_c .module_c_info_long {
    width:340px;
    height:60px;
    margin-top:5px;
    font-size:12px;
    color:#999999;
    border:1px solid #dfdfdf;
    background:#f7f7f7;
    line-height:30px;
    padding:5px;
    overflow:hidden;
}
.content_m_info .module .module_c .module_c_txt { font-size:12px; color:#959595; margin-bottom:10px;}
.content_m_info .module .module_c .module_c_input { margin-bottom:10px;}
.content_m_info .module .module_c .module_c_pic {}
.content_m_info .module .module_c .module_c_pic .module_c_pic_l { float:left;}
.content_m_info .module .module_c .module_c_pic .module_c_pic_l .img_tb { width:300px; border:1px solid #e6e6e6; padding:5px;}
.content_m_info .module .module_c .module_c_pic .module_c_pic_t .img_lr { width:400px; border:1px solid #e6e6e6; padding:5px;}
.content_m_info .module .module_c .module_c_pic .module_c_pic_r { float:left; margin-left:10px; margin-top:403px;}
.content_m_info .module .module_r {
    float:left;
    width:37px;
    height:30px;
    line-height:30px;
    margin-left:16px;
    font-size:14px;
    float:left;
    color:#959595;
}
.content_m_info .module .module_r .input_3 {
    width:225px;
    height:26px;
    border:1px solid #e6e6e6;
}
.content_m_phone { float:left; margin-top:30px; margin-left:40px}
.content_m_phone .content_m_phone_t { width:100%; margin-bottom:20px;}
.content_m_phone .content_m_phone_t .img_1 { width:469px; height:222px; position:relative; top:95px;}
.content_m_phone .content_m_phone_t .img_2 { width:222px; height:469px; position:relative; left:95px;}
.content_m_phone .content_m_phone_t .textarea_1 {
    width:335px;
    height:187px;
    resize:none;
    overflow:hidden;
    position:relative;
    top:-118px;
    left:2px;
    -moz-border-radius:5px;      /* Gecko browsers */
    -webkit-border-radius:5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    background-image: url('/assets/images/across-advertisement.png');
    background-repeat: no-repeat;

}
.content_m_phone .content_m_phone_t .textarea_2 {
    resize: none;
    overflow: hidden;
    position: relative;
    top: -62px;
    left: -117px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: url('/assets/images/across-advertisement.png');
    width: 193px;
    height: 347px;
    background-size: 100% 100%;
}
.content_m_phone .content_m_phone_t .textarea_3 {
    width:187px;
    height:50px;
    resize:none;
    overflow:hidden;
    position:relative;
    top:-62px;
    left:-117px;
    -moz-border-radius:0 0 5px 5px;      /* Gecko browsers */
    -webkit-border-radius:0 0 5px 5px;   /* Webkit browsers */
    border-radius:0 0 5px 5px;            /* W3C syntax */
    background-image: url('/assets/images/across-advertisement.png')
}
.content_m_phone .content_m_phone_b { width:100%; text-align:center; height:40px; line-height:40px;}
.module_pos{
    margin-left:150px;
}
.content_m_info_pos{
    float:left ;width:519px; margin-top:40px
}
.content_m_cl{
    border:1px solid #000000; width:400px; margin-bottom: 20px
}
.module_c_info {
	width: auto;
	margin-top: 5px;
	font-size: 12px;
	color: 
	#999;
	line-height: 30px;
	padding: 5px;
	overflow: hidden;
	border: 1px solid 
	#F7F7F7;
	background-color: 
	#F7F7F7;
	background-size: 100% 100%;
}
.cancel_sy{
/*     background-image: url('/assets/images/cancel-z.png'); */
    background-repeat: no-repeat;
    background-position:54px;
    margin-top:20px
}
.cancel_pos{
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}
.main_span_1{
    font-size:14px; color:#ff0000
}
.main_span_2{
    font-size:14px; color:#cccccc
}
.new_m{
    width: 1019px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 10px rgba(158, 160, 169, 0.5);
    margin-left:10px
}
.tab{
    background: #eeeeee;
    color: #00b7ff;
    font-size: 1em;
    display: table;
    width: 422px;
    height: 49px;
    margin-top: 44px;
    border: 1px solid #d9d9d9;
    border-radius: 5px 5px 1px 1px;
    margin-left:10px;
    border-bottom-style: none;
}
.tab-left{
    width: 211px;
    height: 49px;
    text-align: center;
    display: table-cell;
    line-height: 49px;
    vertical-align: middle;
    background-color: #ffffff;
}
.tab-right{
    width: 211px;
    height: 49px;
    text-align: center;
    display: table-cell;
    line-height: 49px;
    vertical-align: middle;
}

.padding_10{
	padding:0px 10px;
}
