<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
	http://www.springframework.org/schema/beans/spring-beans.xsd        
	http://code.alibabatech.com/schema/dubbo        
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 用于计算依赖，不要与服务提供者配置名称相同 -->
	<dubbo:application name="ego-portal-consumer"/>
	
	<!-- 注册中心地址 -->
	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" />
	
	<!-- 声明需要调用的接口 -->
	<dubbo:reference id="helloService" interface="com.bjsxt.service.HelloService" timeout="10000" />
	<dubbo:reference id="goodsCategoryService" interface="com.bjsxt.service.GoodsCategoryService" timeout="10000" />
	<dubbo:reference id="searchService" interface="com.bjsxt.service.SearchService" timeout="10000" />
	<dubbo:reference id="ssoService" interface="com.bjsxt.service.SsoService" timeout="10000" />
	<dubbo:reference id="cartService" interface="com.bjsxt.service.CartService" timeout="10000" />
	<dubbo:reference id="orderService" interface="com.bjsxt.service.OrderService" timeout="10000" />
</beans>