<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 基于注解配置，指定扫描路径 -->
    <context:component-scan base-package="springxmlconfig.pojo1" >
        <!--一下是过滤，自己看着办-->
        <!--<context:exclude-filter type="annotation" expression=""></context:exclude-filter>-->
        <!--<context:include-filter type="annotation" expression=""></context:include-filter>-->
    </context:component-scan>

    <!-- 引入其他bean 配置文件 -->
    <import resource="springxmlconfig.xml" />

</beans>