<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="boy1" class="springxmlconfig.pojo.Boy">
        <property name="a"><value>32</value></property>
    </bean>
    <bean id="girl1" class="springxmlconfig.pojo.Girl" scope="prototype">
        <property name="name" value="33"></property>
    </bean>
    <bean id="parents1" class="springxmlconfig.pojo.Parents" depends-on="girl1,boy1">
        <property name="boy" ref="boy1"></property>
        <property name="girl" ref="girl1"></property>
    </bean>




</beans>